<section>
  <form [formGroup]="boardForm" (ngSubmit)="submit()" autocomplete="off" novalidate>

    <md-card>
      <md-card-header class="header-full">
        <md-card-title>
          <h2>Create a new Board</h2>
        </md-card-title>
      </md-card-header>
      <md-card-content>

        <div class="grid">
          <div class="grid__item small--one-whole medium-up--two-thirds">
            <div class="grid">
              <div class="grid__item one-whole input-holder">
                <label for="departmentName">Department Name</label>
                <p-autoComplete id="departmentName" formControlName="department"
                                [suggestions]="departmentSuggestions" (completeMethod)="searchDepartments($event)"
                                field="name" (onBlur)="departmentChosen()" (onSelect)="departmentSelected($event)">
                  <ng-template let-department pTemplate="item">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <span>{{department.name}}</span>
                      <cl-image *ngIf="department.documentLogo" public-id="{{department.documentLogo.cloudinaryId}}"
                                class="img">
                        <cl-transformation width="35" height="35" crop="mfit"></cl-transformation>
                      </cl-image>
                    </div>

                  </ng-template>
                </p-autoComplete>
                <control-messages [control]="boardForm.get('department')"></control-messages>
              </div>

              <div class="grid__item one-whole input-holder">
                <label for="boardName">Board Name</label>
                <input id="boardName" pInputText formControlName="name" required>
                <control-messages [control]="boardForm.get('name')"></control-messages>
              </div>

              <div class="grid__item one-whole input-holder">
                <label for="summary">Board Purpose</label>
                <textarea id="summary" pInputTextarea formControlName="summary" required
                          class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
                <control-messages [control]="boardForm.get('summary')"></control-messages>
              </div>
            </div>
          </div>
          <div class="grid__item small--one-whole medium-up--one-third">
            <b-file-upload formControlName="documentLogo" class="logo-uploader" type="logo"></b-file-upload>
          </div>
        </div>

        <div>
          <label>Post categories</label>
          <p-chips formControlName="postCategories"></p-chips>
        </div>

        <p-messages
          [value]="[{severity:'info', detail:'Define the categories for posts in your board, e.g. employment, internship'}]"
          [closable]="false"></p-messages>

        <div *ngIf="!selectedDepartment">
          <div class="grid">
            <div class="grid__item one-whole input-holder">
              <label>Member Categories</label>
              <div class="ui-checkbox-inline">
               <span *ngFor="let category of availableMemberCategories">
                  <p-checkbox name="memberCategoriesMap" [value]="category"
                              [label]="'definitions.memberCategory.' + category | translate"
                              formControlName="memberCategories"></p-checkbox>
                </span>
                <control-messages [control]="boardForm.get('memberCategories')"></control-messages>
              </div>
            </div>
          </div>

          <p-messages
            [value]="[{severity:'info', detail:'Define the groups of staff and students that you have in your department'}]"
            [closable]="false"></p-messages>
        </div>

      </md-card-content>
      <md-card-actions>
        <a pButton routerLink="/boards"
           class="ui-button-secondary" label="Cancel"></a>
        <button pButton class="ui-button-success" type="submit" label="Submit"></button>
      </md-card-actions>
    </md-card>
  </form>
</section>
