<section>
  <div class="section-header">
    <h2>Create a new Board</h2>
  </div>
  <mat-card>
    <form [formGroup]="boardForm" (ngSubmit)="submit()" autocomplete="off" novalidate>
      <mat-card-content>
        <div class="grid" fxLayout="row">
          <div class="grid__item small--one-whole medium-up--two-thirds">
            <div class="grid">
              <div *ngIf="department" class="grid__item one-whole input-holder">
                <h3>{{department.university.name}} - {{department.name}}</h3>
              </div>

              <div *ngIf="!department" class="grid__item one-whole input-holder">
                <label for="department">Department Name</label>
                <div class="ui-corner-all ui-state-default ui-widget dropdown-select">
                  <p-dropdown id="department" formControlName="department" [options]="departmentOptions"
                              placeholder="Select a department">
                    <ng-template let-department pTemplate="item">
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <span>{{department.label}}</span>
                        <div class="logo-holder-small"
                             [ngClass]="{'default-logo': !department.value.documentLogo}">
                          <b-image [publicId]="department.value.documentLogo?.cloudinaryId"
                                   height="45"></b-image>
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
                <control-messages [control]="boardForm.get('department')"></control-messages>
              </div>

              <div class="grid__item one-whole input-holder">
                <label for="boardName">Board Name</label>
                <input id="boardName" pInputText formControlName="name" required>
                <control-messages [control]="boardForm.get('name')"></control-messages>
              </div>

              <div class="grid__item one-whole input-holder">
                <label for="summary">Board Purpose</label>
                <textarea id="summary" pInputTextarea formControlName="summary" required
                          class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
                <control-messages [control]="boardForm.get('summary')"></control-messages>
              </div>
            </div>
          </div>
          <div class="grid__item small--one-whole medium-up--one-third logo-container">
            <b-file-upload formControlName="documentLogo" class="logo-uploader" type="logo"></b-file-upload>
          </div>
        </div>

        <div>
          <label for="postCategories">Post categories</label>
          <p-chips formControlName="postCategories" inputId="postCategories" [allowDuplicate]="false"
                   placeholder="Add a category, then click enter"></p-chips>
          <control-messages [control]="boardForm.get('postCategories')"></control-messages>
        </div>

        <p-messages
          [value]="[{severity:'info', detail:'Define the categories for posts in your board, e.g. employment, internship'}]"
          [closable]="false"></p-messages>

      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <a *ngIf="user && user.scopes.indexOf('BOARD') > -1" pButton routerLink="/boards" class="ui-button-secondary"
           label="Cancel"></a>
        <a *ngIf="!user || user.scopes.indexOf('BOARD') === -1" pButton routerLink="/" class="ui-button-secondary"
           label="Cancel"></a>
        <button pButton class="ui-button-success" label="Submit"></button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
