<mat-card>
  <form [formGroup]="departmentForm">
    <mat-card-content>
      <div class="grid" fxLayout="column" fxLayout.gt-sm="row">
        <div class="grid__item small--one-whole medium-up--two-thirds">
          <div class="grid">
            <div class="grid__item one-whole input-holder">
              <label for="name">Department Name</label>
              <input id="name" pInputText formControlName="name" required>
              <control-messages [control]="departmentForm.get('name')"></control-messages>
            </div>
            <div class="grid__item one-whole input-holder">
              <label for="summary">Department Summary</label>
              <textarea id="summary" pInputTextarea formControlName="summary" rows="6" required
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
              <control-messages [control]="departmentForm.get('summary')"></control-messages>
            </div>
          </div>
        </div>
        <div class="grid__item small--one-whole medium-up--one-third" style="display: flex">
          <b-file-upload formControlName="documentLogo" type="logo"></b-file-upload>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item one-whole input-holder">
          <label>Member Categories</label>
          <div formArrayName="memberCategories" class="ui-checkbox-inline">
          <span *ngFor="let category of memberCategories.controls; let i=index">
            <p-checkbox name="memberCategoriesMap" [value]="availableMemberCategories[i]"
                        [label]="'definitions.memberCategory.' + availableMemberCategories[i] | translate"
                        [formControlName]="i" binary="true  "></p-checkbox>
          </span>
            <control-messages [control]="departmentForm.get('memberCategories')"></control-messages>
          </div>
        </div>
        <div *ngIf="department" class="grid__item one-whole input-holder">
          <label>Department URL</label>
          <b-resource-handle formControlName="handle" [urlPrefix]="urlPrefix"></b-resource-handle>
          <control-messages [control]="departmentForm.get('handle')"></control-messages>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="grid grid--half-gutters">
        <div class="grid__item one-whole" fxLayout="row" fxLayoutAlign="space-between center">
          <a *ngIf="department" pButton [routerLink]="sourceLink"
             class="ui-button-secondary" label="Cancel"></a>
          <a *ngIf="!department" pButton [routerLink]="['/', 'departments']"
             class="ui-button-secondary" label="Cancel"></a>
          <button *ngIf="actionView === 'EDIT'" pButton (click)="update()"
                  class="ui-button-warning" label="Save"></button>
          <button *ngIf="actionView === 'CREATE'" pButton (click)="create()"
                  class="ui-button-success" label="Submit"></button>
        </div>
      </div>
    </mat-card-actions>
  </form>
</mat-card>



