<md-toolbar>
  <div *ngIf="!(user$ | async)">
    <a class="bf-logo" fxHide.xs>
      <img src="assets/logo-nico.svg">
    </a>
    <a class="bf-icon" fxHide.gt-xs>
      <img src="assets/bfj-ico-white.svg">
    </a>
  </div>

  <div *ngIf="(user$ | async) === false"
       class="flex-container" fxLayoutAlign="end" class="full-width">
    <button md-raised-button color="warn">
      Advertise
    </button>
    <button md-button (click)="showMotivationCheck()">Sign up</button>
    <button md-button (click)="showLogin()">Log in</button>
  </div>
</md-toolbar>

