@import '../../assets/variables';

.main-nav {
  background: $uclblue;
  color: white;
  padding: 8px 0;
}
.user-header-profile {
  img {
    height: 40px;
  }
}
.btn-logout {
  margin-top:10px;
}
.panel-content {
  .ui-button:enabled:hover {
    color: black;
  }
  .mobile-header {
    background: $uclblue;
    margin-top: -10px;
    margin-left: -19px;
    margin-right: -19px;
    padding: 8px 20px;
  }
  .top-nav {
   margin-left: 0;
    margin-top:15px;
  }
}

