<header class="main-nav">
  <div class="page-width">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="logo-holder">
          <a class="prism-logo" fxHide.xs routerLink="/">
            <img src="assets/prism.svg">
          </a>
          <a class="prism-icon" fxHide.gt-xs routerLink="/">
            <img src="assets/prism-logo.svg">
          </a>
        </div>
        <div *ngIf="user" class="top-nav" fxLayout="row">
          <a pButton class="ui-button" routerLink="/" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}" label="Posts"></a>
          <a pButton class="ui-button" routerLink="/boards" routerLinkActive="active" label="Boards"></a>
          <a pButton class="ui-button" routerLink="/departments" routerLinkActive="active" label="Departments"></a>
        </div>
      </div>
      <nav class="text-right" fxLayout="row">
        <div *ngIf="!user">
          <button pButton (click)="showLogin()" class="ui-button-warning" label="Log in"></button>
        </div>
        <div *ngIf="user" class="user-header-profile" fxLayout="row">
          <button type="text" pButton label="Activities" (click)="activitiesPanel.toggle($event)"></button>
          <a routerLink="/account" pButton class="ui-button" label="{{user.givenName}}" fxLayout="row">
            <div *ngIf="user.documentImage">
              <cl-image public-id="{{user.documentImage.cloudinaryId}}"
                        class="img">
                <cl-transformation gravity="face" width="150" height="150" radius="max" crop="thumb">
                </cl-transformation>
              </cl-image>
            </div>
            <i *ngIf="!user.documentImage" class="fa-user"></i>
          </a>
          <button pButton (click)="logout()" class="ui-button-warning" label="Log out"></button>
        </div>
      </nav>
    </div>
  </div>
</header>

<p-overlayPanel #activitiesPanel>
  <div *ngFor="let activity of activities">
    <div [ngSwitch]="activity.activity">
      <div *ngSwitchCase="'SUSPEND_POST_ACTIVITY'">
        <a [routerLink]="routerLink(activity.resource)" (click)="activityClicked(activity)">
          New change request for post {{activity.resource.name}}
        </a>
      </div>
      <div *ngSwitchCase="'CORRECT_POST_ACTIVITY'">
        <a [routerLink]="routerLink(activity.resource)" (click)="activityClicked(activity)">
          The post {{activity.resource.name}} has been corrected. Please revise it
        </a>
      </div>
      <div *ngSwitchDefault>
        Unhandled activity: {{activity.activity}}
      </div>
    </div>
  </div>

</p-overlayPanel>
