@import '../../assets/variables';

.main-nav {
  background: $uclblue;
  color: white;
  padding: 8px 0;
}
.user-header-profile {
  img {
    height: 40px;
  }
}
.activity-content {
  font-size:0.8rem;
  .activity-item {
    border-bottom: 1px solid $uclfooter;
    line-height: 30px;
  }
}
