<footer>
  <div class="page-width">
    <div class="grid">
      <div class="grid__item one-whole">
        <a routerLink="/" class="prism-icon" fxHide.xs ><img src="assets/prism-logo.svg"></a>
        <nav>
          <ul class="list--inline">
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/privacyPolicy">Privacy Policy</a></li>
            <li><a routerLink="/termsConditions">Terms &amp; Conditions</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
