@import '../../assets/variables';
@import '../../assets/grid';
footer {
  background: white;
  padding: 40px 0 20px;
  .prism-icon {
    display: flex;
    align-items: center;
    float: left;
  }
  nav {
    margin-top:5px;
    @include media-query($medium-up) {
      margin-left: 25px;
      float: right;
    }
  }
}
