<footer>
  <div class="page-width">
    <div class="grid">
      <div class="grid__item one-whole">
        <a routerLink="/" class="prism-icon"><img src="assets/prism-logo.svg"></a>
        <nav>
          <ul class="list--inline">
            <li><a routerLink="/">About</a></li>
            <li><a routerLink="/">Contact Us</a></li>
            <li><a routerLink="/">Privacy Policy</a></li>
            <li><a routerLink="/">Terms &amp; Conditions</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
