@import '../../assets/variables';
@import '../../assets/grid';
footer {
  background: $uclfooter;
  padding: 10px 0;
  a {
    color: white;
  }
  .prism-icon {
    display: inline-block;
    float: left;
  }
  nav {
    margin-top:5px;
    @include media-query($medium-up) {
      margin-left: 25px;
      float: right;
    }
  }
}
