<section class="section">
  <div class="grid">
    <div class="grid__item medium-up--three-quarters small-one-whole board">
      <div class="resource-header" fxLayout="row" fxLayoutAlign="space-between top">
        <h1>
          {{department.name}}
        </h1>
        <div *ngIf="canEdit" class="admin-actions">
          <a pButton routerLink="edit" class="ui-button-info" icon="fa-gear"></a>
        </div>
      </div>
      <div class="summary-holder">
        <div *ngIf="department.summary">
          {{department.summary}}
        </div>
        <div *ngIf="!department.summary">
          No summary provided. Please provide a Summary
          <a pButton routerLink="edit" class="ui-button-info " icon="fa-gear" label="Add Summary"></a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-quarter small-one-whole resource-logo-holder">
      <md-card>
        <md-card-header class="header-full">
          <md-card-title>
            <h3>Department Logo</h3>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <b-file-upload *ngIf="canEdit" [(ngModel)]="department.documentLogo" (ngModelChange)="logoChanged()"
                         type="logo"></b-file-upload>
          <b-image *ngIf="!canEdit" [publicId]="department.documentLogo?.cloudinaryId"
                   height="150" width="200" crop="mfit"></b-image>
        </md-card-content>
      </md-card>
      <div class="category-list">
        <span class="ui-chips-token ui-corner-all" *ngFor="let category of department.memberCategories">
          {{'definitions.memberCategory.' + category | translate}}
        </span>
      </div>
    </div>
  </div>
</section>
