<b-board-header [board]="board" [canEdit]="canEdit"></b-board-header>

<section>
  <div fxLayout="row" fxLayoutAlign="space-between top" class="section-header">
    <h2>Posts</h2>
    <a pButton routerLink="newPost" class="ui-button-success" icon="fa-plus" label="New Post"></a>
  </div>
  <md-card-content>
    <div class="grid grid--half-gutters">
      <div *ngFor="let post of posts" class="grid__item small--one-whole medium-up--one-half">
        <b-post-item [post]="post"></b-post-item>
      </div>
    </div>
  </md-card-content>
</section>
