<section>
  <div class="grid">
    <div class="grid__item medium-up--three-quarters small-one-whole board">
      <div class="summary-holder">
        {{board.summary}}
      </div>
      <div class="category-list">
        <span class="ui-chips-token ui-corner-all" *ngFor="let category of board.postCategories">{{category}}</span>
      </div>
    </div>
    <div class="grid__item medium-up--one-quarter small-one-whole resource-logo-holder">
      <md-card>
        <md-card-header class="header-full" *ngIf="canEdit">
          <md-card-title>
            <h3>Board Logo</h3>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <b-image [publicId]="board.documentLogo?.cloudinaryId" height="150" width="200" crop="mfit"></b-image>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>
<section>
  <div fxLayout="row" fxLayoutAlign="space-between top" class="section-header">
    <h2>Posts</h2>
    <a pButton [routerLink]="['/newPost', {boardId: board.id}]" class="ui-button-success" icon="fa-plus"
       label="New Post"></a>
  </div>
  <div class="list-container">
    <b-post-item [post]="post" *ngFor="let post of posts" class="list-container__item"></b-post-item>
  </div>
</section>
<b-resource-timeline *ngIf="board" [resource]="board"></b-resource-timeline>
