<h1>Edit Department</h1>

<form [formGroup]="departmentForm" (ngSubmit)="submit()" autocomplete="off">
  <md-input-container class="md-block">
    <input mdInput formControlName="name" placeholder="Department Name" required>
  </md-input-container>
  <control-messages [control]="departmentForm.controls.name"></control-messages>

  <rl-tag-input formControlName="memberCategories" placeholder="Add Member category"></rl-tag-input>

  <board-aliases formGroupName="handles" [hideBoard]="true"></board-aliases>

  <!--<logo-upload name="departmentLogo" [(ngModel)]="department.documentLogo"></logo-upload>-->

  <div layout="column" layout-align="space-between stretch">
    <button md-raised-button type="submit">Submit</button>
  </div>
</form>
