<h1>Edit Department</h1>

<form #form="ngForm" (ngSubmit)="submit()">
  <md-input-container class="md-block">
    <input mdInput placeholder="Department Name" name="departmentName" [(ngModel)]="department.name" required>
  </md-input-container>

  <rl-tag-input name="memberCategories" [(ngModel)]="department.memberCategories"
                placeholder="Add Member category"></rl-tag-input>

  <!--<logo-upload name="departmentLogo" [(ngModel)]="department.documentLogo"></logo-upload>-->

  <div layout="column" layout-align="space-between stretch">
    <button md-raised-button type="submit">Submit</button>
  </div>
</form>
