<md-card-content>
  <div class="grid form">
    <div class="grid__item one-whole">
      <h4>Badge Options</h4>
      <!--<div class="input-holder">-->
        <!--<div class="ui-radiobutton-inline">-->
          <!--<p-radioButton name="badgeType" value="SIMPLE" label="Simple" [(ngModel)]="badgeType"-->
                         <!--(ngModelChange)="refreshSnippet($event)"></p-radioButton>-->
          <!--<p-radioButton name="badgeType" value="LIST" label="List" [(ngModel)]="badgeType"-->
                         <!--(ngModelChange)="refreshSnippet($event)"></p-radioButton>-->
        <!--</div>-->
      <!--</div>-->
      <div class="input-holder">
        <div *ngIf="badgeType === 'LIST'" class="ui-radiobutton-inline">
          <p-radioButton name="badgeListType" value="STATIC" label="Static" [(ngModel)]="badgeListType"
                           (ngModelChange)="refreshSnippet($event)"></p-radioButton>
          <p-radioButton name="badgeListType" value="SLIDER" label="Slider" [(ngModel)]="badgeListType"
                           (ngModelChange)="refreshSnippet($event)"></p-radioButton>
        </div>
      </div>
      <div class="input-holder">
        <div class="ui-radiobutton-inline">
            <p-radioButton name="postCount" [value]="1" [(ngModel)]="postCount" label="Show 1 post"
                           (ngModelChange)="refreshSnippet($event)"></p-radioButton>
            <p-radioButton name="postCount" [value]="2" [(ngModel)]="postCount" label="Show 2 posts"
                           (ngModelChange)="refreshSnippet($event)"></p-radioButton>
        </div>
      </div>
    </div>
    <div class="grid__item one-whole input-holder">
      <label>Badge Snippet</label>
      <textarea pInputTextarea [ngModel]="badgeSnippet" required rows="10" readonly
                class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
    </div>
  </div>

  <script>
    var js, fjs = document.getElementsByTagName("script")[0];
    if (!document.getElementById("alumeni-prism-widgets")) {
      js = document.createElement("script");
      js.id = "alumeni-prism-widgets";
      js.src = "http://localhost:4200/assets/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  </script>

  <div #badgePreview data-prism-widget="badge" [attr.data-resource]="resourceStringified"
       [attr.data-options]="widgetOptionsStringified">
  </div>
</md-card-content>



