<div [formGroup]="parentForm">
  <div formGroupName="roleGroup" class="grid__item one-whole">
    <div class="ui-checkbox-inline">
      <p-checkbox label="No expiry date" formControlName="noExpiryDate" binary="true"
                  (onChange)="noExpiryDateChanged()"></p-checkbox>
    </div>

    <div *ngIf="!roleGroup.get('noExpiryDate').value" class="input-holder">
      <label style="display: block">
        Expiration date:
      </label>
      <p-calendar formControlName="expiryDate" dateFormat="yy-mm-dd" dataType="string"
                  [yearNavigator]="true" [monthNavigator]="true" [yearRange]="yearRange"></p-calendar>
      <control-messages [control]="roleGroup.get('expiryDate')"></control-messages>
    </div>

    <div class="members input-holder dropdown-select">
      <label for="memberCategory">Specify member category</label>
      <p-dropdown id="memberCategory" formControlName="memberCategory" [options]="memberCategoryOptions"
                  placeholder="Select a category"></p-dropdown>
      <control-messages [control]="roleGroup.get('memberCategory')"></control-messages>
    </div>

    <div class="dropdown-select input-holder">
      <label for="memberProgram">Program Name</label>
      <p-autoComplete formControlName="memberProgram" [suggestions]="programSuggestions"
                      (completeMethod)="searchPrograms($event)" inputId="memberProgram"
                      placeholder="Start typing to see suggestions"></p-autoComplete>
      <control-messages [control]="roleGroup.get('memberProgram')"></control-messages>
    </div>

    <div class="input-holder">
      <label for="memberYear">Year of study</label>
      <div style="margin-top: 6px; font-size: 0.9rem">
        <p-selectButton [options]="availableYears" formControlName="memberYear"
                        styleClass="ui-button-info"></p-selectButton>
      </div>
      <control-messages [control]="roleGroup.get('memberYear')"></control-messages>
    </div>

  </div>
</div>
