@import '../../assets/variables';

.resource-header {
  background: $greyBackground;
  border-top: 1px solid $fadeGrey;
  border-bottom: 1px solid $fadeGrey;
  padding: 10px;
  .admin-actions {
    font-size: 0.8rem;
    min-height: 35px;
    .small-xs {
      margin-left: 4px;
    }
  }
  h1 {
    font-size: 1.5em;
    font-weight: 500;
    color: $uclred;
    padding: 7px 0;
    small {
      font-size:80%;
      color: $activeGrey;
    }
  }
}
.resource-logo-holder {
  md-card-title h3{
    font-weight:700;
    font-size:1.2em;
    color: $fontColor1;
  }
  .mat-card-content {
    display: flex;
    justify-content:center;
    padding-bottom:0;
    padding-top: 15px;
  }
}
.summary-holder {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 110%;
  font-weight: 500;
  line-height: 1.6rem;
  .ui-button {
    font-size:1rem;
  }
}
