<div *ngIf="type === 'logo' || type === 'avatar'">
  <label for="uploader-input" ngFileDrop
         (uploadOutput)="onUploadOutput($event)"
         [uploadInput]="uploadInput"
         [ngClass]="{'dragover': isDragOver}"
         class="drop-area logo">
    <span *ngIf="!model">Drop your image here</span>
    <div *ngIf="model && type === 'logo'" class="logo-flex">
      <div class="logo">
        <b-image [publicId]="model.cloudinaryId" height="250" width="400" crop="mfit"></b-image>
      </div>
    </div>
    <div *ngIf="model && type === 'avatar'" class="avatar-flex">
      <div class="avatar" *ngIf="type === 'avatar'">
        <b-image [publicId]="model.cloudinaryId" gravity="face" width="400" height="400" crop="fill"></b-image>
      </div>
    </div>
  </label>
</div>
<div *ngIf="type === 'document'">
  <label for="uploader-input"
         class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
    <span class="ui-button-icon-left fa fa-cloud-upload"></span>
    <span class="ui-button-text">Upload...</span>
  </label>
  <a *ngIf="model" href="{{model.cloudinaryUrl}}" target="_blank">
    Uploaded: {{model.fileName}}
  </a>
</div>

<span *ngIf="progressPercentage !== null">Progress: {{progressPercentage}}</span>
<input type="file" accept="{{type === 'document' ? 'application/pdf' : ''}}" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
       id="uploader-input" style="display:none"/>
