<div *ngIf="type === 'logo'">
  <label for="uploader-input" ng2FileDrop
         [uploader]="uploader"
         (fileOver)="fileOver($event)"
         [ngClass]="{'dragover': isDragOver}"
         class="drop-area logo">
    <span *ngIf="!model">Drop your image here</span>
    <div *ngIf="model" class="logo-flex">
      <div class="logo">
        <cl-image public-id="{{model.cloudinaryId}}" class="img">
          <cl-transformation height="250" width="400" crop="mfit"></cl-transformation>
        </cl-image>
      </div>
    </div>
  </label>
</div>

<div *ngIf="type === 'document'">
  <label for="uploader-input"
         class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
    <span class="ui-button-icon-left fa fa-cloud-upload"></span>
    <span class="ui-button-text">Upload...</span>
  </label>
  <a *ngIf="model" href="{{model.cloudinaryUrl}}" target="_blank">
    Uploaded: {{model.fileName}}
  </a>
</div>

<span *ngIf="progressPercentage !== null">Progress: {{progressPercentage}}</span>
<input type="file" ng2FileSelect [uploader]="uploader" id="uploader-input" style="display:none"/>
