@import '../../assets/variables';
@import '../../assets/grid';

.drop-area {
  margin-top: 4px;
  &.logo {
    border: 3px dashed $inactiveGrey;
    width: 180px;
    height: 180px;
    float: right;
    @include media-query($small) {
      float: none;
    }
    display: block;
    text-align: center;
    margin-top: 25px;
  }
  &.background {
    border: 1px dashed $inactiveGrey;
    background-size: cover;
    height: 320px;
    width: 100%;
  }
  &.dragover {
    border: 3px dashed $uclblue;
  }
  &.dragover-err, &.ng-invalid-pattern, &.ng-invalid {
    border: 3px dashed $error;
  }
}

.logo-flex {
  border: 1px solid #ececec;
  background: #ffffff;
  display: flex;
  border-radius: 1px;
  margin-top: 0;
  width: 200px;
  height: 125px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  .logo {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    img {
      max-height: 125px;
      max-width: 200px;
      position: relative;
      vertical-align: middle;
    }
  }
}
