<div [formGroup]="parentForm">
  <div *ngIf="!parentForm.get('showDetails').value">
    <div class="input-beside-title">
      <button pButton type="button" (click)="cannotFindUser()" label="Cannot find user?"
              class="ui-button ui-button-warning"></button>
    </div>
    <div class="grid__item one-whole input-holder">
      <p-autoComplete id="userLookup" formControlName="userLookup" [suggestions]="userSuggestions"
                      (completeMethod)="searchUsers($event)" (onSelect)="userSelected()" placeholder="Lookup user">
        <ng-template let-user pTemplate="item">
          <b-image [publicId]="user.documentImage?.cloudinaryId"
                   gravity="face" width="150" height="150" radius="max" crop="thumb"></b-image>
          {{user.givenName}} {{user.surname}} ({{user.email}})
        </ng-template>
      </p-autoComplete>
      <control-messages [control]="parentForm.get('userLookup')"></control-messages>
    </div>
  </div>
  <div *ngIf="parentForm.get('showDetails').value">
    <div class="input-beside-title">
      <button pButton type="button" (click)="returnToSearch()" label="Return to Search"
              class="ui-button ui-button-warning"></button>
    </div>
    <div class="grid__item small--one-whole medium-up--one-third input-holder">
      <input pInputText formControlName="givenName" placeholder="First Name" required>
      <control-messages [control]="parentForm.get('givenName')"></control-messages>
    </div>
    <div class="grid__item small--one-whole medium-up--one-third input-holder">
      <input pInputText formControlName="surname" placeholder="Last Name" required>
      <control-messages [control]="parentForm.get('surname')"></control-messages>
    </div>
    <div class="grid__item small--one-whole medium-up--one-third input-holder">
      <input pInputText formControlName="email" placeholder="Email" required>
      <control-messages [control]="parentForm.get('email')"></control-messages>
    </div>
  </div>
</div>
