<div class="grid">
  <div class="grid__item small-one-whole">
    <div class="resource-header" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <h1><a routerLink="/{{board.department.handle}}">{{board.department.name}}</a> -
          {{board.name}}
        </h1>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between flex-end" class="admin-actions">
        <b-resource-actions-box [resource]="board" class="admin-actions" fxLayout="row"
                                fxLayoutAlign="space-between center"></b-resource-actions-box>
      </div>
    </div>
  </div>
</div>
