<div fxLayout="row" class="board-header" fxLayoutAlign="space-between center">
  <div>
    <h2><a routerLink="/{{board.department.handle}}">{{board.department.name}}</a> -
      <b-xeditable-input [resource]="board" propertyName="name" [canEdit]="canEdit"
                         fieldType="input"></b-xeditable-input>
    </h2>
    <div class="description-holder">
      <b-xeditable-input [resource]="board" propertyName="description" [canEdit]="canEdit"
                         fieldType="textarea"></b-xeditable-input>
    </div>
  </div>
  <div class="logo-holder default-logo" [ngClass]="{'no-background': board.department.documentLogo}">
    <cl-image *ngIf="board.department.documentLogo" public-id="{{board.department.documentLogo.cloudinaryId}}"
              class="img">
      <cl-transformation gravity="north_west" height="150" width="200" crop="mfit"></cl-transformation>
    </cl-image>
  </div>
</div>
