<span *ngIf="actionView === 'REVISE'">
  <p-splitButton label="Revise" icon="fa-gear" (onClick)="gotoSettings(post)" [model]="actions"
                 class="ui-button-info"></p-splitButton>
</span>
<span *ngIf="actionView === 'CORRECT'">
  <p-splitButton label="Correct" icon="fa-gear" (onClick)="gotoSettings(post)" [model]="actions"
                 class="ui-button-info"></p-splitButton>
</span>
<span *ngIf="actionView === 'EDIT'">
  <p-splitButton label="Edit" icon="fa-gear" (onClick)="gotoSettings(post)" [model]="actions"
                 class="ui-button-info"></p-splitButton>
</span>

