<section class="section">
  <md-card>
    <md-card-header class="header-full">
      <md-card-title>
        <div>
          <h2 *ngIf="!post">Create a new post</h2>
          <h2 *ngIf="post">Edit Post</h2>
        </div>
      </md-card-title>
    </md-card-header>
    <form [formGroup]="postForm" novalidate>
      <md-card-content>
        <div class="grid">
          <div *ngIf="board" class="grid__item one-whole input-holder">
            <h3>{{board.name}}</h3>
          </div>
          <div *ngIf="!post && !board" class="grid__item one-whole input-holder">
            <label for="board">Board</label>
            <div class="ui-corner-all ui-state-default ui-widget dropdown-select">
              <p-dropdown id="board" formControlName="board" [options]="boardOptions" (onChange)="boardChanged($event)"
                          placeholder="Select a board">
                <ng-template let-board pTemplate="item">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span>{{board.label}}</span>
                    <b-image [publicId]="board.value.documentLogo?.cloudinaryId"
                             width="35" height="35"></b-image>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <control-messages [control]="postForm.get('board')"></control-messages>
          </div>

          <div class="grid__item one-whole input-holder">
            <label for="name">Title of your post</label>
            <input id="name" pInputText formControlName="name" required>
            <control-messages [control]="postForm.get('name')"></control-messages>
          </div>

          <div class="grid__item one-whole input-holder">
            <label for="summary">Summary of your post</label>
            <textarea id="summary" pInputTextarea formControlName="summary" required rows="5"
                      class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
            <control-messages [control]="postForm.get('summary')"></control-messages>
          </div>

          <div class="grid__item one-whole input-holder">
            <label>Description of your post</label>
            <p-editor formControlName="description" [style]="{'height':'250px'}">
              <p-header>
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered" aria-label="Ordered List"></button>
                  <button class="ql-list" value="bullet" aria-label="Unordered List"></button>
                </span>
              </p-header>
            </p-editor>
            <control-messages [control]="postForm.get('description')"></control-messages>
          </div>

          <div *ngIf="availablePostCategories.length > 0" class="grid__item one-whole input-holder">
            <label>What is your post about?</label>
            <div formArrayName="postCategories" class="ui-checkbox-inline">
              <span *ngFor="let category of postCategories.controls; let i=index">
                <p-checkbox [value]="availablePostCategories[i]" [label]="availablePostCategories[i]"
                            [formControlName]="i" binary="true"></p-checkbox>
              </span>
              <control-messages [control]="postForm.get('postCategories')"></control-messages>
            </div>
          </div>


          <div class="grid__item small--one-whole medium-up--one-half input-holder">
            <label for="organizationName">Your organization</label>
            <p-autoComplete id="organizationName" formControlName="organizationName"
                            [suggestions]="organizationSuggestions"
                            (completeMethod)="searchOrganizations($event)" placeholder="Organization Name">
            </p-autoComplete>
            <control-messages [control]="postForm.get('organizationName')"></control-messages>
          </div>

          <div class="grid__item small--one-whole medium-up--one-half input-holder">
            <label>Location</label>
            <b-places-autocomplete formControlName="location"></b-places-autocomplete>
            <control-messages [control]="postForm.get('location')"></control-messages>
          </div>

          <div *ngIf="showExistingRelation">
            <div class="grid__item one-whole input-holder">
              <label>What is your relationship with our department?</label>
              <p-radioButton *ngFor="let relation of definitions['existingRelation']"
                             [value]="relation" name="existingRelation"
                             formControlName="existingRelation"
                             [label]="'definitions.existingRelation.' + relation + '.name'| translate">
              </p-radioButton>
              <control-messages [control]="postForm.get('existingRelation')"></control-messages>
            </div>

            <div *ngIf="['COLLABORATOR', 'EMPLOYER', 'OTHER'].indexOf(postForm.value.existingRelation) > -1"
                 class="grid__item one-whole input-holder">
              <label>
                {{'definitions.existingRelation.' + postForm.value.existingRelation
                + ".explanationPrompt" | translate}}
              </label>
              <textarea pInputTextarea formControlName="existingRelationExplanation" required
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
              <control-messages [control]="postForm.get('existingRelationExplanation')"></control-messages>
            </div>
          </div>

          <div *ngIf="availableMemberCategories.length > 0" class="grid__item one-whole input-holder">
            <label>Who do you want to share your post with?</label>
            <div formArrayName="memberCategories" class="ui-checkbox-inline">
              <span *ngFor="let category of memberCategories.controls; let i=index">
                <p-checkbox [value]="availableMemberCategories[i]"
                            [label]="'definitions.memberCategory.' + availableMemberCategories[i] | translate"
                            [formControlName]="i" binary="true"></p-checkbox>
              </span>
              <control-messages [control]="postForm.get('memberCategories')"></control-messages>
            </div>
          </div>

          <!--Member: {{postForm.value.memberCategories}}-->
          <div class="grid__item one-whole input-holder">
            <label>How will people respond?</label>
            <div class="ui-radiobutton-inline">
              <p-radioButton value="website" name="applyType" formControlName="applyType"
                             label="By visiting a web page"></p-radioButton>
              <p-radioButton value="document" name="applyType" formControlName="applyType"
                             label="By following instructions in a document"></p-radioButton>
              <p-radioButton value="email" name="applyType" formControlName="applyType"
                             label="By sending a CV"></p-radioButton>
            </div>
            <control-messages [control]="postForm.get('applyType')"></control-messages>
          </div>
          <div *ngIf="postForm.get('applyType').value === 'website'" class="grid__item one-whole input-holder">
            <label>Your website address</label>
            <input pInputText type="url" formControlName="applyWebsite" required>
            <control-messages [control]="postForm.get('applyWebsite')"></control-messages>
          </div>

          <div *ngIf="postForm.get('applyType').value === 'document'" class="grid__item one-whole input-holder">
            <b-file-upload formControlName="applyDocument" type="document" class="uploader"></b-file-upload>
            <control-messages [control]="postForm.get('applyDocument')"></control-messages>
          </div>
          <div *ngIf="postForm.get('applyType').value === 'email'" class="grid__item one-whole input-holder">
            <label>Email address</label>
            <input pInputText type="email" formControlName="applyEmail" placeholder="e.g. apply@example.com" required>
            <control-messages [control]="postForm.get('applyEmail')"></control-messages>
          </div>

          <div class="grid__item one-whole input-holder">
            <label class="big">Post Availability</label>
            <div class="grid">
              <div class="grid__item small--one-whole">
                <div class="ui-checkbox-inline">
                  <p-checkbox formControlName="hideLiveTimestamp" binary="true"
                              label="Immediately"></p-checkbox>
                </div>
                <div *ngIf="!postForm.value.hideLiveTimestamp" class="date-item">
                  <div class="input-holder">
                    <b-datetime formControlName="liveTimestamp" name="liveTimestamp"></b-datetime>
                    <control-messages [control]="postForm.get('liveTimestamp')" dataType="string"></control-messages>
                  </div>
                </div>
              </div>

              <div class="grid__item small--one-whole">
                <div class="ui-checkbox-inline">
                  <p-checkbox formControlName="hideDeadTimestamp" binary="true"
                              label="No Closing Date"></p-checkbox>
                </div>
                <div *ngIf="!postForm.value.hideDeadTimestamp" class="date-item">
                  <div class="input-holder">
                    <b-datetime formControlName="deadTimestamp" name="deadTimestamp"></b-datetime>
                    <control-messages [control]="postForm.get('deadTimestamp')" dataType="string"></control-messages>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-card-content>
      <md-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <a pButton [routerLink]="cancelLink()" class="ui-button-secondary" label="Cancel"></a>
        <span *ngIf="actionView === 'REVISE'">
          <button pButton [disabled]="postForm.invalid" label="Accept"
                  (click)="executeAction('ACCEPT', true)"></button>
          <button pButton class="ui-button-warning" [disabled]="postForm.invalid" label="Suggest Change"
                  (click)="executeAction('SUSPEND', true)"></button>
          <button pButton class="ui-button-danger" label="Reject" (click)="executeAction('REJECT')"></button>
        </span>

        <span *ngIf="actionView === 'CORRECT'">
          <button pButton label="Correct" class="ui-button-warning" (click)="executeAction('CORRECT', true)"></button>
        </span>

        <span *ngIf="actionView === 'EDIT'">
          <button pButton class="ui-button-success" label="Save" (click)="update()"></button>
        </span>

        <span *ngIf="actionView === 'CREATE'">
          <button pButton class="ui-button-success" label="Submit" (click)="create()"></button>
        </span>
      </md-card-actions>
    </form>
  </md-card>
</section>
