.date-item {
  margin-top:15px;
}
.dropdown-select {
  width: 100%;
  p-dropdown {
    width: 100%;
    border: 1px solid #dde4e2;
    display: block;
    border-radius: 2px;
    font-size:0.9em;
    &:hover {
      border-color: black;
    }
  }
}
.create-post {
  background: white;
  padding: 24px;
  h4 {
    margin-bottom: 10px;
  }
}
