<section class="section">
  <md-card>
    <md-card-header class="header-full">
      <md-card-title>
        <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
          <h2 *ngIf="!post">Create a new post</h2>
          <h2 *ngIf="post">Edit Post</h2>
          <a pButton routerLink="/{{board.department.handle}}/{{board.handle}}"
                  class="ui-button-secondary" icon="fa-eye" label="Cancel"></a>
        </div>
      </md-card-title>
    </md-card-header>
    <form [formGroup]="postForm" novalidate>
      <md-card-content>
        <div class="grid">
          <div class="grid__item one-whole input-holder">
            <label>Title of y#our post</label>
            <input pInputText formControlName="name" required>
            <control-messages [control]="postForm.controls.name"></control-messages>
          </div>
          <div class="grid__item one-whole input-holder">
            <label>Content of your post</label>
            <textarea pInputTextarea formControlName="description" required rows="5"
                      class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
            <control-messages [control]="postForm.controls.description"></control-messages>
          </div>
          <div class="grid__item one-whole input-holder">
            <label>What is your post about?</label>
            <div class="ui-checkbox-inline">
              <span *ngFor="let category of board.postCategories">
                <p-checkbox name="postCategoriesMap" [value]="category" [label]="category"
                            formControlName="postCategories"></p-checkbox>
              </span>
            </div>
          </div>
          <div class="grid__item small--one-whole medium-up--one-half input-holder">
            <label>Your organization</label>
            <input pInputText formControlName="organizationName" required>
            <control-messages [control]="postForm.controls.organizationName"></control-messages>
          </div>
          <div class="grid__item small--one-whole medium-up--one-half input-holder">
            <label>Location</label>
            <places-autocomplete formControlName="location"></places-autocomplete>
            <control-messages [control]="postForm.controls.location"></control-messages>
          </div>
          <div *ngIf="showExistingRelation">
            <div class="grid__item one-whole input-holder">
              <label>What is your relationship with our department?</label>
              <p-dropdown [options]="relations" formControlName="existingRelation"
                          placeholder="Select relationship..."></p-dropdown>
              <control-messages [control]="postForm.controls.existingRelation"></control-messages>
            </div>

            <div *ngIf="postForm.value.existingRelation" class="grid__item one-whole input-holder">
              <label>
                {{'definitions.existingRelation.' + postForm.value.existingRelation + ".explanationPrompt" |
                translate}}
              </label>
              <textarea pInputTextarea formControlName="existingRelationExplanation" required></textarea>
              <control-messages [control]="postForm.controls.existingRelationExplanation"></control-messages>
            </div>
          </div>
          <div class="grid__item one-whole input-holder">
            <label>Who do you want to share your post with?</label>
            <div class="ui-checkbox-inline">
               <span *ngFor="let category of board.department.memberCategories">
                  <p-checkbox name="memberCategoriesMap" [value]="category" [label]="category"
                              formControlName="memberCategories"></p-checkbox>
                </span>
            </div>
          </div>
          <div class="grid__item one-whole input-holder">
            <label>How will people respond?</label>
            <div class="ui-radiobutton-inline">
              <p-radioButton value="website" name="applyType" formControlName="applyType"
                             label="By visiting a web page"></p-radioButton>
              <p-radioButton value="document" name="applyType" formControlName="applyType"
                             label="By following instructions in a document"></p-radioButton>
              <p-radioButton value="email" name="applyType" formControlName="applyType"
                             label="By sending an email"></p-radioButton>
            </div>
            <control-messages [control]="postForm.controls.applyType"></control-messages>
          </div>
          <div *ngIf="postForm.value.applyType === 'website'" class="grid__item one-whole input-holder">
            <label>Your website address</label>
            <input pInputText type="url" formControlName="applyWebsite" required>
            <control-messages [control]="postForm.controls.applyWebsite"></control-messages>
          </div>

          <div *ngIf="postForm.value.applyType === 'document'" class="grid__item one-whole input-holder">
            <b-file-upload formControlName="applyDocument" type="document" class="uploader"></b-file-upload>
            <control-messages [control]="postForm.controls.applyDocument"></control-messages>
          </div>
          <div *ngIf="postForm.value.applyType === 'email'" class="grid__item one-whole input-holder">
            <label>Email address</label>
            <input pInputText type="email" formControlName="applyEmail" placeholder="e.g. apply@example.com" required>
            <control-messages [control]="postForm.controls.applyEmail"></control-messages>
          </div>

          <div *ngIf="!post" class="grid__item one-whole input-holder">
            <p-checkbox formControlName="hideTimestamps" binary="true"
                        label="Keep default opening and closing dates (post opens now and close in one month)"></p-checkbox>
          </div>

          <div *ngIf="!postForm.value.hideTimestamps" class="grid__item one-whole input-holder">
            <label>Post Availability</label>
            <div class="grid">
              <div class="grid__item small--one-whole medium-up--one-half">
                <div class="input-holder">
                  <b-datetime formControlName="liveTimestamp" name="liveTimestamp"></b-datetime>
                  <control-messages [control]="postForm.controls.liveTimestamp" dataType="string"></control-messages>
                </div>
                <p-messages
                  [value]="[{severity:'info', detail:'By specifying this field you can control when the post will be opened. Otherwise it will happen straight away.'}]"
                  [closable]="false"></p-messages>
              </div>

              <div class="grid__item small--one-whole medium-up--one-half">
                <div class="input-holder">
                  <b-datetime formControlName="deadTimestamp" name="deadTimestamp"></b-datetime>
                  <control-messages [control]="postForm.controls.deadTimestamp" dataType="string"></control-messages>
                </div>
                <p-messages
                  [value]="[{severity:'info', detail:'By specifying this field you can control when the post will be closed. Otherwise it will happen a month after opening.'}]"
                  [closable]="false"></p-messages>
              </div>
            </div>
          </div>
        </div>
      </md-card-content>
      <md-card-actions fxLayout="row" fxLayoutAlign="end center">
        <span *ngIf="actionView === 'REVISE'">
          <button pButton [disabled]="postForm.invalid" label="Accept"
                  (click)="executeAction('ACCEPT', true)"></button>
          <button pButton class="ui-button-warning" [disabled]="postForm.invalid" label="Request Correction"
                  (click)="executeAction('SUSPEND', true)"></button>
          <button pButton class="ui-button-danger" label="Reject" (click)="executeAction('REJECT')"></button>
        </span>

        <span *ngIf="actionView === 'CORRECT'">
          <button pButton [disabled]="postForm.invalid" label="Correct" class="ui-button-warning"
                  (click)="executeAction('CORRECT', true)"></button>
        </span>

        <span *ngIf="actionView === 'EDIT'">
          <button pButton class="ui-button-success" [disabled]="postForm.invalid" label="Save"
                  (click)="update()"></button>
        </span>

        <span *ngIf="actionView === 'CREATE'">
          <button pButton class="ui-button-success" [disabled]="postForm.invalid" label="Submit"
                  (click)="create()"></button>
        </span>
      </md-card-actions>
    </form>
  </md-card>
</section>
