@import '../../../assets/variables';
@import '../../../assets/grid';

.post-title {
  background: white;
  padding: 24px;
  .date {
    font-size: 12px;
    margin-bottom: 6px;
    color: #999;
  }
  h1 {
    font-size:1.2em;
    font-weight: 400;
    @include media-query($medium-up) {
      font-size: 1.4em;
    }
    padding: 0 0 7px 0;
  }
  h2 {
    font-size: 1em;
    padding: 0 0 5px;
    em {
      font-weight: 400;
      color: $activeGrey;
    }
  }

  .admin-actions {
    font-size: 0.8rem;
    min-width: 187px;
    text-align: right;
    margin-bottom:6px;
  }

  .location {
    padding-left: 15px;
    font-weight: 400;
    font-size: 0.9em;
    padding-top: 5px;
    i {
      color: $goldColor;
    }
  }
}
