<section>
  <div class="grid">
    <div class="grid__item medium-up--three-quarters small-one-whole board">
      <div class="summary-holder">
        {{board.summary}}
      </div>
      <div class="category-list">
        <span class="ui-chips-token ui-corner-all" *ngFor="let category of board.postCategories">{{category}}</span>
      </div>
    </div>
    <div class="grid__item medium-up--one-quarter small-one-whole resource-logo-holder">
      <mat-card>
        <mat-card-header class="header-full" *ngIf="canEdit">
          <mat-card-title>
            <h3>Board Logo</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="logo-holder" [ngClass]="{'default-logo': !board.documentLogo}">
            <b-image [publicId]="board.documentLogo?.cloudinaryId" height="150" width="200" crop="mfit"></b-image>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!--<share-buttons [title]="board.name" [description]="board.summary"-->
                 <!--[include]="['facebook','twitter','linkedin','google']"-->
                 <!--[image]="board.documentLogo?.cloudinaryUrl" [showCount]="true"></share-buttons>-->
</section>

<section>
  <b-post-list-embedded [resource]="board"></b-post-list-embedded>
</section>

<b-resource-timeline *ngIf="board" [resource]="board"></b-resource-timeline>
