<md-card *ngIf="!bulkMode">
  <form [formGroup]="userForm" (ngSubmit)="createNewUser()" autocomplete="off" novalidate>
    <md-card-content>
      <h4>New User</h4>
      <div formGroupName="user" class="grid">
        <b-user-lookup [parentForm]="userForm.get('user')" [resource]="resource"></b-user-lookup>
      </div>
      <div *ngIf="resource" class="grid">
        <b-resource-user-role-form-part [resource]="resource" [parentForm]="userForm"></b-resource-user-role-form-part>
      </div>
    </md-card-content>
    <md-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button pButton type="button" class="ui-button-secondary" *ngIf="resource.scope === 'DEPARTMENT'"
              (click)="bulkMode = true" label="Add members in bulk">
      </button>
      <button pButton type="submit" class="ui-button-success" label="Add user" fxFlexOrder="1"></button>
    </md-card-actions>
  </form>
</md-card>

<b-resource-users-bulk *ngIf="bulkMode" [resource]="resource" (close)="closeBulkMode($event)">
</b-resource-users-bulk>

<div class="section-header users-headers" fxLayout="row" fxLayoutAlign="space-between center">
  <h1>Users</h1>
  <b-filter (applied)="membersFilterApplied($event)"></b-filter>
</div>

<p-tabView [activeIndex]="usersTabIndex" (onChange)="usersTabChanged($event)">
  <p-tabPanel header="Staff">
    <div *ngIf="users" class="grid grid--half-gutters" fxLayout="row" fxLayoutWrap="wrap">

      <div *ngFor="let userRole of users.users" class="grid__item small--one-whole medium-up--one-third"
           [ngClass]="{'last-admin': lastAdminRole && userRole.role === 'ADMINISTRATOR'}">
        <md-card class="no-content users">
          <md-card-header fxLayout="row" fxLayoutAlign="flex-start center"
                          (click)="openUserSettings(userRole, 'STAFF')">
            <div md-card-avatar class="avatar"
                 [ngClass]="{'no-background': userRole.user.documentImage}">
              <b-image [publicId]="userRole.user.documentImage?.cloudinaryId"
                       gravity="face" width="150" height="150" radius="max" crop="thumb" background="ececec"
                       *ngIf="userRole.user.documentImage"></b-image>
              <i *ngIf="!userRole.user.documentImage" class="fa-user"></i>
            </div>
            <md-card-title>
              <div>
                <h3>{{userRole.user.givenName}} {{userRole.user.surname}}</h3>
                <div class="role-item-container">
                  <div class="role-indicator {{ userRole.role | lowercase}}"
                       [ngClass]="{'expire' : userRole.expiryDate}">
                    <span class="role-item" pTooltip="{{'definitions.role.' + userRole.role | translate}}"
                          tooltipPosition="top"></span>
                  </div>
                </div>
              </div>
            </md-card-title>
          </md-card-header>
        </md-card>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel *ngIf="resource.scope === 'DEPARTMENT'" header="Members">
    <div *ngIf="users">
      <div class="grid grid--half-gutters" fxLayout="row" fxLayoutWrap="wrap">
        <div *ngFor="let userRole of users.members" class="grid__item small--one-whole medium-up--one-third">
          <md-card class="no-content users">
            <md-card-header fxLayout="row" fxLayoutAlign="flex-start center"
                            (click)="openUserSettings(userRole, 'MEMBER')">
              <div md-card-avatar class="avatar"
                   [ngClass]="{'no-background': userRole.user.documentImage}">
                <b-image [publicId]="userRole.user.documentImage?.cloudinaryId"
                         gravity="face" width="150" height="150" radius="max" crop="thumb" background="ececec"
                         *ngIf="userRole.user.documentImage"></b-image>
                <i *ngIf="!userRole.user.documentImage" class="fa-user"></i>
              </div>
              <md-card-title>
                <div>
                  <h3>
                    {{userRole.user.givenName}} {{userRole.user.surname}}
                  </h3>
                  <div class="role-item-container">
                    <div class="role-indicator {{ userRole.role | lowercase}}"
                         [ngClass]="{'expire' : userRole.expiryDate}">
                    <span class="role-item"
                          pTooltip="{{'definitions.role.' + userRole.role | translate}} - {{'definitions.memberCategory.' + userRole.categories[0] | translate}}"
                          tooltipPosition="top"></span>
                      <span class="role-expire" *ngIf="userRole.expiryDate"
                            pTooltip="Expiry date: {{userRole.expiryDate | date : 'shortDate'}}"
                            tooltipPosition="bottom"></span>
                    </div>
                  </div>
                </div>
              </md-card-title>
            </md-card-header>
          </md-card>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel *ngIf="!users || users.memberRequests.length > 0" header="Membership Requests">
    <div *ngIf="users" class="grid grid--half-gutters" fxLayout="row" fxLayoutWrap="wrap">
      <div *ngFor="let userRole of users.memberRequests" class="grid__item small--one-whole medium-up--one-third">
        <md-card class="no-content users no-popup">
          <md-card-header fxLayout="row" fxLayoutAlign="flex-start center">
            <div md-card-avatar class="avatar"
                 [ngClass]="{'no-background': userRole.user.documentImage}">
              <b-image [publicId]="userRole.user.documentImage?.cloudinaryId"
                       gravity="face" width="150" height="150" radius="max" crop="thumb" background="ececec"
                       *ngIf="userRole.user.documentImage"></b-image>
              <i *ngIf="!userRole.user.documentImage" class="fa-user"></i>
            </div>
            <md-card-title>
              <h3>
                {{userRole.user.givenName}} {{userRole.user.surname}}
              </h3>
              <div class="card-actions">
                <button pButton class="ui-button-warning small-xs"
                        (click)="respondToMemberRequest(userRole, 'rejected')"
                        label="Reject"></button>
                <button pButton class="ui-button-success small-xs"
                        (click)="respondToMemberRequest(userRole, 'accepted')"
                        label="Accept"></button>
              </div>
            </md-card-title>
          </md-card-header>
        </md-card>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>



