<md-card-content>
  <div *ngIf="!bulkMode">
    <form [formGroup]="userForm" (ngSubmit)="createNewUser()" autocomplete="off" novalidate>
      <h4>New User</h4>
      <div formGroupName="user" class="grid">
        <b-user-lookup [parentForm]="userForm.get('user')" [resource]="resource"></b-user-lookup>
      </div>
      <div *ngIf="resource" class="grid">
        <b-resource-user-role-form-part [resource]="resource" [parentForm]="userForm"></b-resource-user-role-form-part>
      </div>

      <div class="action-holder" fxLayout="row" fxLayoutAlign="space-between center">
        <button pButton class="ui-button-secondary" (click)="bulkMode = true" label="Add users in bulk"></button>
        <button pButton class="ui-button-success" type="submit" label="Add user" fxFlexOrder="1"></button>
      </div>
    </form>
  </div>

  <b-resource-users-bulk *ngIf="bulkMode" [resource]="resource" (close)="closeBulkMode($event)">
  </b-resource-users-bulk>
  <div class="section-header">
    <h1>Users</h1>
  </div>
  <div class="grid grid--half-gutters">
    <div *ngFor="let resourceUser of users" class="grid__item small--one-whole medium-up--one-third">
      <md-card>
        <md-card-header fxLayout="row" fxLayoutAlign="space-between center">
          <div md-card-avatar class="avatar"
               [ngClass]="{'no-background': resourceUser.user.documentImage}">
            <cl-image *ngIf="resourceUser.user.documentImage"
                      public-id="{{resourceUser.user.documentImage.cloudinaryId}}"
                      class="img">
              <cl-transformation gravity="face" width="150" height="150" radius="max" crop="thumb"></cl-transformation>
            </cl-image>
          </div>
          <md-card-title>
            <h3>
              {{resourceUser.user.givenName}} {{resourceUser.user.surname}}
            </h3>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <div>
            <div *ngFor="let userRole of resourceUser.roles" class="{{ userRole.role | lowercase}}">
              <span class="ui-chips-token ui-corner-all">{{'definitions.role.' + userRole.role | translate}}</span>
              <span *ngIf="userRole.expiryDate">
                Expiry date: {{userRole.expiryDate | date : 'shortDate'}}
              </span>
              <span *ngIf="userRole.categories.length > 0">
                <span *ngFor="let category of userRole.categories" class="ui-chips-token ui-corner-all child-token">
                {{'definitions.memberCategory.' + category | translate}}
              </span>
              </span>
            </div>
          </div>
        </md-card-content>
        <md-card-actions fxLayout="row" fxLayoutAlign="space-between center">
          <button pButton (click)="removeUser(resourceUser)" class="ui-button-secondary" label="Remove"
                  [disabled]="loading || (lastAdminRole && isAdmin(resourceUser))"></button>
          <a pButton (click)="openUserSettings(resourceUser)" class="ui-button-info ui-button-icon-only"
             icon="fa-settings"></a>
        </md-card-actions>
      </md-card>

    </div>
  </div>
</md-card-content>
