<div class="form">
  <h4>Bulk Users</h4>
  <div class="grid">
    <div class="grid__item one-whole input-holder">
      <div class="ui-checkbox-inline">
             <span *ngFor="let role of availableRoles">
            <p-checkbox [value]="role" [label]="'definitions.role.' + role | translate"
                        [(ngModel)]="roles"></p-checkbox>
          </span>
      </div>
    </div>

    <div class="grid__item one-whole">
      <label>First line contains header</label>
      <p-checkbox [(ngModel)]="firstLineHeader" [binary]="true" (onChange)="computeUsers()"></p-checkbox>
    </div>

    <div class="grid__item one-whole">
      <label for="csv-uploader-input" ng2FileDrop
             [uploader]="uploader"
             (fileOver)="fileOver($event)"
             [ngClass]="{'dragover': isDragOver}"
             class="drop-area">
        <span>Click to upload or Drag and Drop CSV file</span>
      </label>
      <input #csvUploaderInput type="file" ng2FileSelect [uploader]="uploader"
             id="csv-uploader-input" style="display:none"/>

      <a pButton class="ui-button-secondary" href="assets/user-list.csv">
        Download CSV template
      </a>
    </div>

    <div *ngIf="userErrors?.length > 0">
      <div *ngFor="let error of userErrors">
        Line {{error.line}}: {{error.message}}
      </div>
    </div>

    <div *ngIf="users?.length > 0">
    <p-dataTable [value]="users">
      <p-column field="givenName" header="First name"></p-column>
      <p-column field="surname" header="Last name"></p-column>
      <p-column field="email" header="Email"></p-column>
    </p-dataTable>
    </div>

  </div>
  <div class="action-holder" fxLayout="row" fxLayoutAlign="space-between center">
    <button pButton class="ui-button-success" (click)="submit()" label="Submit"></button>
    <button pButton class="ui-button-secondary" (click)="closeBulkMode()" label="Add users individually"></button>
  </div>
</div>



