<div [formGroup]="parentForm">
  <div formGroupName="roleGroup" class="grid__item one-whole">
    <div *ngIf="availableRoles.length > 1" class="ui-radiobutton-inline">
      <p-radioButton *ngFor="let role of availableRoles"
                     [value]="role" [label]="'definitions.role.' + role | translate" name="role"
                     formControlName="role" class="{{role | lowercase}}"></p-radioButton>
      <control-messages [control]="roleGroup.get('role')"></control-messages>
    </div>
  </div>
  <div *ngIf="roleGroup.get('role').value === 'MEMBER'" formGroupName="roleGroup"
       class="grid__item one-whole">
    <div class="ui-checkbox-inline">
      <p-checkbox label="No expiry date" formControlName="noExpiryDate" binary="true"
                  (onChange)="noExpiryDateChanged()"></p-checkbox>
    </div>

    <div *ngIf="!roleGroup.get('noExpiryDate').value" class="input-holder">
      <label style="display: block">
        {{'definitions.role.' + roleGroup.get('role').value | translate}} expiration date:
      </label>
      <p-calendar formControlName="expiryDate" dateFormat="yy-mm-dd" dataType="string"
                  [yearNavigator]="true" [monthNavigator]="true"></p-calendar>
      <control-messages [control]="roleGroup.get('expiryDate')"></control-messages>
    </div>

    <div class="members input-holder dropdown-select">
      <label for="memberCategory">Specify member category</label>
      <p-dropdown id="memberCategory" formControlName="memberCategory" [options]="memberCategoryOptions"
                  placeholder="Select a category"></p-dropdown>
      <control-messages [control]="roleGroup.get('memberCategory')"></control-messages>
    </div>

    <div class="dropdown-select input-holder">
      <label for="memberProgram">Program Name</label>
      <input pInputText placeholder="Research Degree: Computer Science" formControlName="memberProgram">
      <control-messages [control]="roleGroup.get('memberProgram')"></control-messages>
    </div>

    <div class="input-holder">
      <label for="memberYear">Year of study</label>
      <div style="margin-top: 6px; font-size: 0.9rem">
        <p-selectButton [options]="availableYears" formControlName="memberYear"
                        styleClass="ui-button-info"></p-selectButton>
      </div>
      <control-messages [control]="roleGroup.get('memberYear')"></control-messages>
    </div>

  </div>
</div>
