@import '../../../assets/variables';
.action-holder {
  margin-top: 15px;
  margin-bottom:30px;
  .ui-button {
    font-size:1.1rem;
  }
  padding-bottom: 15px;
  border-bottom:1px solid $fadeGrey;
}
h4{
  margin-bottom:15px;
}
label.drop-area {
  margin-top: 4px;
  border: 3px dashed $inactiveGrey;
  height: 100px;
  text-align: center;
  width: 100%;
  &.dragover {
    border: 3px dashed $uclblue;
  }
  &.dragover-err, &.ng-invalid-pattern, &.ng-invalid {
    border: 3px dashed $error;
  }
}
.user-bulk-table {
  margin: 10px 0;
}
