<div [formGroup]="parentForm">
  <div *ngFor="let role of availableRoles; let index = index" class="grid__item one-third">
    <div class="ui-checkbox-inline">
      <p-checkbox [value]="role" [label]="'definitions.role.' + role | translate"
                  formControlName="roles" (onChange)="roleChanged(role)"></p-checkbox>
    </div>
    <div formGroupName="roleDefinitions">
      <div *ngIf="parentForm.value.roles.indexOf(role) > -1" [formGroupName]="role">
        <div class="ui-checkbox-inline">
          <p-checkbox label="No expiry date" formControlName="noExpiryDate" binary="true"
                      (onChange)="noExpiryDateChanged(role)"></p-checkbox>
        </div>

        <div *ngIf="!parentForm.get('roleDefinitions').get(role).get('noExpiryDate').value" class="input-holder">
          <label>{{'definitions.role.' + role | translate}} expiration date:</label>
          <p-calendar formControlName="expiryDate" dateFormat="yy-mm-dd" dataType="string"></p-calendar>
          <control-messages [control]="parentForm.get('roleDefinitions').get(role).get('expiryDate')"></control-messages>
        </div>

        <div *ngIf="role === 'MEMBER'" class="members">
          <label>Specify member categories</label>
          <div class="ui-checkbox-inline">
                <span *ngFor="let category of availableMemberCategories">
                  <p-checkbox formControlName="categories" [value]="category" [label]="('definitions.memberCategory.' + category | translate)"></p-checkbox>
                </span>
            <control-messages [control]="parentForm.get('roleDefinitions').get('MEMBER').get('categories')"></control-messages>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__item one-whole">
    <control-messages [control]="parentForm.get('roles')"></control-messages>
  </div>
</div>
