<div [formGroup]="parentForm">

  <div formArrayName="roles">
    <div *ngFor="let roleControl of roles.controls; let i=index" class="grid__item one-third">
      <div [formGroupName]="i">
        <div class="ui-checkbox-inline {{availableRoles[i] | lowercase}}">
          <p-checkbox [label]="'definitions.role.' + availableRoles[i] | translate"
                      formControlName="checked" binary="true" (onChange)="roleChanged(i)"></p-checkbox>
          <control-messages [control]="parentForm.get('roles').get('' + i).get('checked')"></control-messages>
        </div>

        <div *ngIf="parentForm.get('roles').get('' + i).get('checked').value" class="definitions">
          <div class="ui-checkbox-inline">
            <p-checkbox label="No expiry date" formControlName="noExpiryDate" binary="true"
                        (onChange)="noExpiryDateChanged(i)"></p-checkbox>
          </div>

          <div *ngIf="!parentForm.get('roles').get('' + i).get('noExpiryDate').value" class="input-holder">
            <label>{{'definitions.role.' + availableRoles[i] | translate}} expiration date:</label>
            <p-calendar formControlName="expiryDate" dateFormat="yy-mm-dd" dataType="string"></p-calendar>
            <control-messages
              [control]="parentForm.get('roles').get('' + i).get('expiryDate')"></control-messages>
          </div>

          <div *ngIf="availableRoles[i] === 'MEMBER'" class="members">
            <label for="category">Specify member category</label>
            <p-dropdown id="category" formControlName="category" [options]="memberCategoryOptions"
                        placeholder="Select a category"></p-dropdown>
            <control-messages
              [control]="parentForm.get('roles').get('' + i).get('category')"></control-messages>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__item one-whole">
    <control-messages [control]="parentForm.get('roles')"></control-messages>
  </div>
</div>
