<section class="section" [ngClass]="{'edit-post':post}">
  <b-filter (applied)="responsesFilterApplied($event)"></b-filter>
  <mat-card *ngIf="responses">
    <mat-card-content>
      <h2 class="title">Responses <span class="ui-chips-token ui-corner-all">{{responses.length}}</span></h2>
      <div *ngIf="responses.length > 0" class="grid">
        <div *ngFor="let response of responses" class="grid__item small--one-whole medium-up--one-third application-item">
          <div class="application-item__inner">
            <div fxLayout="row" class="header-content">
              <div class="avatar">
                <span *ngIf="response.gender === 'MALE'"><i class="fa-user"></i></span>
                <span *ngIf="response.gender === 'FEMALE'"><i class="fa-user-female"></i></span>
              </div>
              <div class="someone-applied">
                <h5>Someone applied:</h5>
                <span class="time-data">{{response.createdTimestamp | amCalendar}}</span>
              </div>
            </div>
            <div class="response-data">
              <div *ngIf="response.documentResume">
                <a href="{{response.documentResume.cloudinaryUrl}}">Download Resume</a>
              </div>
              <div *ngIf="response.websiteResume">
                <a href="{{response.websiteResume}}">Website</a>
              </div>
              <div class="rte">
                {{response.coveringNote}}
              </div>
              <div *ngIf="response.gender">
                Gender: <b>{{'definitions.gender.' + response.gender | translate}}</b>
              </div>
              <div *ngIf="response.ageRange">
                Age Range: <b>{{'definitions.ageRange.' + response.ageRange | translate}}</b>
              </div>
              <div *ngIf="response.locationNationality">
                Location: <b>{{response.locationNationality.name}}</b>
              </div>
              <div *ngIf="response.memberCategory">
                Category: <b>{{'definitions.memberCategory.' +  response.memberCategory | translate}}</b>
              </div>
              <div *ngIf="response.memberProgram">
                Program: <b>{{response.memberProgram}}</b>
              </div>
              <div *ngIf="response.memberYear">
                Year: <b>{{response.memberYear}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
