<section class="section" [ngClass]="{'edit-post':post}">
  <md-card>
    <md-card-content>
      <div *ngIf="responses.length > 0" class="grid">
        <div *ngFor="let response of responses">
          <h3>{{response.user.givenName}} {{response.user.surname}}</h3>
          <span>{{response.createdTimestamp | amCalendar}}</span>
          <div *ngIf="response.documentResume">
            <a href="{{response.documentResume.cloudinaryUrl}}">Download Resume</a>
          </div>
          <div *ngIf="response.websiteResume">
            <a href="{{response.websiteResume}}">Website</a>
          </div>
          <div>
            {{response.coveringNote}}
          </div>
        </div>
      </div>
      <div *ngIf="responses.length === 0" class="grid">
        <p-messages
          [value]="[{severity:'info', summary:'No Responses', detail:'No user has responded to your post yet'}]"
          [closable]="false">
        </p-messages>
      </div>
    </md-card-content>
    <md-card-actions>
    </md-card-actions>
  </md-card>
</section>
