<section class="section" [ngClass]="{'edit-post':post}">
  <md-card>
    <md-card-content>
      <div *ngIf="responses.length > 0" class="grid">
        <div *ngFor="let response of responses" class="grid__item small--one-whole medium-up--one-third" >
          <div class="user-header">
            <div class="avatar"
                 [ngClass]="{'no-background': response.user.documentImage}">
              <b-image [publicId]="response.user.documentImage?.cloudinaryId"
                       gravity="face" width="150" height="150" radius="max" crop="thumb" background="ececec"
                       *ngIf="response.user.documentImage"></b-image>
              <i *ngIf="!response.user.documentImage" class="fa-user"></i>
            </div>
          </div>
          <h3>{{response.user.givenName}} {{response.user.surname}}</h3>
          <span>{{response.createdTimestamp | amCalendar}}</span>
          <div *ngIf="response.documentResume">
            <a href="{{response.documentResume.cloudinaryUrl}}">Download Resume</a>
          </div>
          <div *ngIf="response.websiteResume">
            <a href="{{response.websiteResume}}">Website</a>
          </div>
          <div class="rte">
            {{response.coveringNote}}
          </div>
        </div>
      </div>
      <div *ngIf="responses.length === 0" class="grid">
        <div class="grid__item one-whole">
          <p-messages
            [value]="[{severity:'info', summary:'No Responses', detail:'No user has responded to your post yet'}]"
            [closable]="false">
          </p-messages>
        </div>
      </div>
    </md-card-content>
  </md-card>
</section>
