<md-card>
  <md-card-header class="header-full">
    <md-card-title>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Edit</h2>
        <button pButton routerLink="/{{board.department.handle}}/{{board.handle}}"
                class="ui-button-secondary" icon="fa-eye" label="Cancel"></button>
      </div>
    </md-card-title>
  </md-card-header>
  <form [formGroup]="boardForm" (ngSubmit)="submit()" autocomplete="off" novalidate>
    <md-card-content>
      <div class="grid">
        <div class="grid__item one-whole input-holder">
          <label for="name">Board Name</label>
          <input id="name" pInputText formControlName="name" required>
          <control-messages [control]="boardForm.controls.name"></control-messages>
        </div>

        <div class="grid__item one-whole input-holder">
          <label for="summary">Board Purpose</label>
          <textarea id="summary" pInputTextarea formControlName="summary" required
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
          <control-messages [control]="boardForm.controls.summary"></control-messages>
        </div>

        <div class="grid__item one-whole input-holder">
          <label>Post categories</label>
          <p-chips formControlName="postCategories"></p-chips>
        </div>
        <div class="grid__item one-whole input-holder">
          <label>Default post visibility:</label>
          <div class="ui-radiobutton-inline">
            <p-radioButton *ngFor="let postVisibility of definitions.postVisibility"
                           [value]="postVisibility" name="defaultPostVisibility"
                           formControlName="defaultPostVisibility"
                           [label]="'definitions.postVisibility.' + postVisibility | translate">
            </p-radioButton>
          </div>
        </div>
        <div class="grid__item one-whole input-holder">
          <label>Board URL</label>
          <b-resource-handle formControlName="handle" [urlPrefix]="urlPrefix"></b-resource-handle>
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <div class="grid grid--half-gutters">
        <div class="grid__item one-whole">
          <button pButton type="submit" class="ui-button-success" label="Submit"></button>
        </div>
      </div>
    </md-card-actions>
  </form>
</md-card>

