<h1>Settings</h1>

<form [formGroup]="settingsForm" (ngSubmit)="submit()" autocomplete="off" novalidate>
  <div>
    <label>Post categories</label>
    <p-chips formControlName="postCategories"></p-chips>
  </div>

  <label>Default post visibility:</label>
  <div class="ui-radiobutton-inline">
    <p-radioButton *ngFor="let postVisibility of definitions.postVisibility"
                   [value]="postVisibility" name="defaultPostVisibility"
                   formControlName="defaultPostVisibility" [label]="'definitions.postVisibility.' + postVisibility | translate">
    </p-radioButton>
  </div>

  <board-aliases formGroupName="handles"></board-aliases>

  <button pButton type="submit" class="ui-button-warning" label="Submit"></button>
</form>
