<h1>Settings</h1>

<form [formGroup]="settingsForm" (ngSubmit)="submit()" autocomplete="off" novalidate>
  <rl-tag-input formControlName="postCategories" placeholder="Add Post category"></rl-tag-input>

  Default post visibility:
  <md-radio-group formControlName="defaultPostVisibility">
    <md-radio-button *ngFor="let postVisibility of definitions.postVisibility" [value]="postVisibility">
      {{'definitions.postVisibility.' + postVisibility | translate}}
    </md-radio-button>
  </md-radio-group>

  <board-aliases formGroupName="handles"></board-aliases>

  <button md-raised-button type="submit">Submit</button>
</form>
