<section *ngIf="customer || customer === null">
  <h2>Add payment method</h2>
  <form novalidate>
    <ngx-stripe-card [options]="elementOptions"></ngx-stripe-card>
    <button pButton type="button" class="ui-button-success" label="Submit" (click)="submitCard()"></button>
  </form>
</section>

<section *ngIf="customer">
  <h2>Payment methods</h2>
  <div *ngFor="let source of customer.sources.data">
    Type: {{source.brand}}, Account: ***{{source.last4}},
    Expiry: {{source.expMonth | number:'2.0-0'}}-{{source.expYear}}
    <span *ngIf="source.id === customer.defaultSource">Default</span>
    <button *ngIf="source.id !== customer.defaultSource" pButton label="Set as Default"
            (click)="setSourceAsDefault(source)"></button>
    <button pButton label="Delete" (click)="deleteSource(source)"></button>
  </div>

  <div *ngIf="subscription">
    You have a valid subscription until {{subscription.current_period_end * 1000 | date:'mediumDate'}}

    <div *ngIf="!subscription.cancel_at_period_end">
      <button pButton label="Cancel subscription" (click)="cancelSubscription()"></button>
    </div>
    <div *ngIf="subscription.cancel_at_period_end">
      <button pButton label="Restore subscription" (click)="restoreSubscription()"></button>
    </div>
  </div>

  <div *ngIf="!subscription">
    <button pButton label="Create subscription" (click)="createSubscription()"></button>
  </div>
</section>
