<section class="section">
  <md-card>
    <md-card-content>
      <div class="grid grid--half-gutters" fxLayout="row" fxLayoutWrap="wrap">
        <div *ngFor="let membership of memberships" class="grid__item small--one-whole medium-up--one-third">
          <md-card>
            <md-card-header fxLayout="x" fxLayoutAlign="space-between center" (click)="openMembership(membership)">
              <div md-card-avatar class="avatar"
                   [ngClass]="{'no-background': membership.user.documentImage}">
                <b-image [publicId]="membership.user.documentImage?.cloudinaryId"
                         gravity="face" width="150" height="150" radius="max" crop="thumb" background="ececec"
                         *ngIf="membership.user.documentImage"></b-image>
                <i *ngIf="!membership.user.documentImage" class="fa-user"></i>
              </div>
              <md-card-title>
                <div>
                  <h3>
                    {{membership.user.givenName}} {{membership.user.surname}}
                  </h3>
                </div>
              </md-card-title>
            </md-card-header>
          </md-card>

        </div>
      </div>
    </md-card-content>
    <md-card-actions>
    </md-card-actions>
  </md-card>
</section>
