<section class="contact-section ">
  <div class="page-width">
    <h1 class="center">Meet the Team</h1>
    <div class="grid team">
      <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
        <div class="grid">
          <div class="grid__item medium-up--one-third">
            <div class="team-picture">
              <img src="assets/alastair.jpg">
            </div>
            <h4>Alastair Knowles</h4>
            <h5>Strategy lead</h5>
            <hr>
            <p>17+ years higher education experience. Java/SQL developer</p>
            <hr>
            <p><i class="fa-phone"></i> +44 7922 110362 (UK)</p>
          </div>
          <div class="grid__item medium-up--one-third">
            <div class="team-picture">
              <img src="assets/jakub.jpg">
            </div>
            <h4>Jakub Fibinger</h4>
            <h5>Technical lead</h5>
            <hr>
            <p>10+ years software engineering experience. Java/AngularJS developer</p>
            <hr>
            <p><i class="fa-phone"></i> +48 510 231 324 (Poland)</p>
          </div>
          <div class="grid__item medium-up--one-third">
            <div class="team-picture">
              <img src="assets/juan.jpg">
            </div>
            <h4>Juan Mingo</h4>
            <h5>User experience lead</h5>
            <hr>
            <p>17+ years UX development experience. CSS/HTML/JS developer</p>
            <hr>
            <p><i class="fa-phone"></i> +34 611 43 65 51 (Spain)</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h2 class="center">Company Information</h2>
    <div class="grid">
      <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
        <h4>prism.hr Ltd</h4>

        <p>269a Bellenden Road<br/>
          London UK<br/>
          SE15 4DQ<br/>
          UK Company Registration 08632035
        </p>
      </div>
    </div>
  </div>
</section>
