<section>
  <div class="grid">
    <div class="grid__item medium-up--three-quarters small-one-whole board">
      <div class="summary-holder">
        <div *ngIf="department.summary">
          {{department.summary}}
        </div>
        <div *ngIf="!department.summary">
          No summary provided.
          <button pButton routerLink="edit" class="ui-button-info small-xs" label="Add Summary"></button>
        </div>
      </div>
      <div class="category-list">
      <span class="ui-chips-token ui-corner-all" *ngFor="let category of department.memberCategories">
        {{'definitions.memberCategory.' + category | translate}}
      </span>
      </div>
    </div>
    <div class="grid__item medium-up--one-quarter small-one-whole resource-logo-holder">
      <md-card>
        <md-card-header class="header-full" *ngIf="canEdit">
          <md-card-title>
            <h3>Department Logo</h3>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <b-file-upload *ngIf="canEdit" [(ngModel)]="department.documentLogo" (ngModelChange)="logoChanged()"
                         type="logo"></b-file-upload>
          <b-image *ngIf="!canEdit" [publicId]="department.documentLogo?.cloudinaryId"
                   height="150" width="200" crop="mfit"></b-image>
        </md-card-content>
      </md-card>

    </div>
  </div>
</section>
<div class="section-header">
  <h2>Boards</h2>
</div>
<div class="list-container">
  <b-board-item [board]="board" *ngFor="let board of boards" class="list-container__item"></b-board-item>
</div>

<b-resource-timeline *ngIf="department" [resource]="department"></b-resource-timeline>
