<section>
  <div class="grid">
    <div class="grid__item medium-up--three-quarters small-one-whole board">
      <div class="summary-holder">
        {{department.summary}}
      </div>
      <div class="category-list">
      <span class="ui-chips-token ui-corner-all" *ngFor="let category of department.memberCategories">
        {{'definitions.memberCategory.' + category | translate}}
      </span>
      </div>
      <button pButton (click)="showWalkthrough()" class="ui-button-success" label="Show walkthrough"></button>
    </div>
    <div class="grid__item medium-up--one-quarter small-one-whole resource-logo-holder">
      <mat-card>
        <mat-card-header class="header-full" *ngIf="canEdit">
          <mat-card-title>
            <h3>Department Logo</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <b-image [publicId]="department.documentLogo?.cloudinaryId" height="150" width="200" crop="mfit"></b-image>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <share-buttons [title]="department.name" [description]="department.summary"
                 [include]="['facebook','twitter','linkedin','google']"
                 [image]="department.documentLogo?.cloudinaryUrl" [showCount]="true"></share-buttons>
</section>

<section *ngIf="canEdit">
  <div fxLayout="row" fxLayoutAlign="space-between top" class="section-header">
    <h2>Boards</h2>
    <a pButton [routerLink]="['/newBoard', {departmentId: department.id}]" class="ui-button-success"
       id="walkthrough_new_board" icon="fa-plus" label="New Board"></a>
  </div>
  <b-filter resourceScope="BOARD" (applied)="filterApplied($event)"></b-filter>
  <div class="list-container">
    <b-board-item *ngFor="let board of boards" [board]="board" class="list-container__item"></b-board-item>
  </div>
</section>

<section>
  <b-post-list-embedded [resource]="department"></b-post-list-embedded>
</section>

<b-resource-timeline *ngIf="department" [resource]="department"></b-resource-timeline>

<p-sidebar [(visible)]="showTasksSidebar" position="left">
  <p class="step-block-header">To start with our app please do the following tasks</p>
  <div class="step-block">
    <ul class="list--inline">
      <li *ngFor="let task of department.tasks">
        <a href="#" class="checked">
        <span>
          <img src="assets/check.svg">
        </span>
          <div class="step-title">{{'definitions.task.' + task | translate}}</div>
        </a>
      </li>
    </ul>
  </div>
</p-sidebar>
