<form [formGroup]="departmentForm">
  <md-card-content>
    <div class="grid">
      <div class="grid__item small--one-whole medium-up--two-thirds">
        <div class="grid">
          <div class="grid__item one-whole input-holder">
            <label for="name">Department Name</label>
            <input id="name" pInputText formControlName="name" required>
            <control-messages [control]="departmentForm.get('name')"></control-messages>
          </div>

          <div class="grid__item one-whole input-holder">
            <label for="summary">Department Summary</label>
            <textarea id="summary" pInputTextarea formControlName="summary" required
                      class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
            <control-messages [control]="departmentForm.get('summary')"></control-messages>
          </div>

          <div class="grid__item one-whole input-holder">
            <label>Member Categories</label>
            <div class="ui-checkbox-inline">
               <span *ngFor="let category of availableMemberCategories">
                  <p-checkbox name="memberCategoriesMap" [value]="category"
                              [label]="'definitions.memberCategory.' + category | translate"
                              formControlName="memberCategories"></p-checkbox>
                </span>
              <control-messages [control]="departmentForm.get('memberCategories')"></control-messages>
            </div>
          </div>

          <div class="grid__item one-whole input-holder">
            <label>Department URL</label>
            <b-resource-handle formControlName="handle" [urlPrefix]="urlPrefix"></b-resource-handle>
          </div>
        </div>
      </div>

      <div class="grid__item small--one-whole medium-up--one-third">
        <b-file-upload formControlName="documentLogo" type="logo"></b-file-upload>
      </div>
    </div>
  </md-card-content>
  <md-card-actions>
    <div class="grid grid--half-gutters">
      <div class="grid__item one-whole">
        <button pButton [disabled]="departmentForm.invalid" (click)="submit()"
                class="ui-button-warning" label="Submit"></button>
      </div>
    </div>
  </md-card-actions>
</form>
