@import '../../assets/variables';

span {
  .ui-widget {
    font-size:80%;
  }
  button.ui-widget {
    font-size:70%;
  }
  &:hover.editable {
    border-bottom:1px dashed $uclred;
  }
  .input-container {
    display: inline-block;
  }
}
.host-url {
  span {
    display: inline-block;
    button.ui-widget {
      font-size:90%;
    }
  }
  > span {
    font-size: 1.3em;
    padding: 8px 0;
    color: grey;
  }

}
.ui-button-success {
    margin-top:4px;
}
.edit-container {
  width: 100%;
  display: block;
  textarea {
    width: 90%;
    float: left;
  }
  input {
    float: left;
  }
  .edit-actions {
    float: left;
    margin-left: 15px;
    margin-top: -3px;
  }
}
