<section class="section">
  <h1 class="title" *ngIf="!user">You're seconds away from creating your first board!</h1>
  <b-home-public *ngIf="!user"></b-home-public>
  <div *ngIf="user">
    <div class="section-header" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>Boards</h1>
      <a pButton routerLink="/newBoard" class="ui-button-success" icon="fa-plus" label="New Board"></a>
    </div>
    <div class="board-filter">
      <form fxLayout="row" fxLayoutAlign="space-between center" >
        <div class="input-holder">
          <input name="text-filter" placeholder="eg: Employment" class="ui-inputtext">
        </div>
        <div class="categories-filter">
          <p-selectButton styleClass="ui-button-info" [options]="categories" [(ngModel)]="selectedCategories" multiple="multiple" name="selected"></p-selectButton>
        </div>
        <div class="status-filter">
          <p-selectButton styleClass="ui-button-info" [options]="statuses" [(ngModel)]="selectedStatuses" multiple="multiple" name="selected"></p-selectButton>
        </div>
      </form>
    </div>
    <div class="grid list-container">
      <div *ngFor="let board of boards" class="list-container__item">
        <b-board-item [board]="board"></b-board-item>
      </div>
    </div>

  </div>
</section>
