<section class="section">
  <h1 class="title" *ngIf="!user">You're seconds away from creating your first board!</h1>
  <b-home-public *ngIf="!user"></b-home-public>
  <div *ngIf="user">
    <div class="section-header" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>Boards</h1>
      <a pButton routerLink="/newBoard" class="ui-button-success" icon="fa-plus" label="New Board"></a>
    </div>
    <div class="grid">
      <div *ngFor="let board of boards" class="grid__item small--one-whole medium-up--one-half">
        <md-card>
          <md-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <md-card-avatar class="logo-holder-small default-logo"
                            [ngClass]="{'no-background': board.department.documentLogo}">
              <cl-image *ngIf="board.department.documentLogo" public-id="{{board.department.documentLogo.cloudinaryId}}"
                        class="img">
                <cl-transformation gravity="north_west" height="150" width="200" crop="mfit"></cl-transformation>
              </cl-image>
            </md-card-avatar>
            <md-card-title>
              <h3><a [routerLink]="['/', board.department.handle, board.handle]">{{board.name}}</a></h3>
            </md-card-title>
            <md-card-subtitle>
              <h6>
                <a [routerLink]="['/', board.department.handle]">{{board.department.name}}</a>
              </h6>
            </md-card-subtitle>
          </md-card-header>
          <md-card-content>
            {{board.description}}
          </md-card-content>
          <md-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <a pButton routerLink="/{{board.department.handle}}/{{board.handle}}/settings"
               class="ui-button-info ui-button-icon-only" icon="fa-settings" label="Settings"></a>
            <a pButton routerLink="/{{board.department.handle}}/{{board.handle}}" class="ui-button-secondary "
               icon="fa-eye" label="View"></a>
          </md-card-actions>
        </md-card>
      </div>
    </div>

  </div>
</section>
