@import '../../../assets/variables';
.post {
  .post-content {
    padding: 25px 10px 45px;
    .rte {
      line-height: 1.5rem;
    }
  }
  .post-content--excerpt {
    font-size: 110%;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom:15px;
  }
  .post-content--description {
    font-size: 95%;
    font-weight: 400;
    line-height: 1rem;
  }
  .post-actions, .post-title {
    background: $greyBackground;
    border-top: 1px solid $fadeGrey;
    border-bottom: 1px solid $fadeGrey;
    padding: 10px;
  }
  .post-title {
    .admin-actions {
      font-size:0.8rem;
    }
    .date {
      font-size:0.9em;
    }
    h1 {
      font-size:1.5em;
      color: $uclred;
      padding: 0 0 7px 0;
    }
    h2 {
      font-size:1.2em;
      padding: 0 0 5px;
      em {
        font-weight:400;
        color: $activeGrey;
      }
    }
    .location {
      padding-left:15px;
      font-weight:400;
      font-size: 0.9em;
      padding-top: 5px;
      i {
        color: $goldColor;
      }
    }
  }
  .post-actions {
    h4 {
      font-size:1.1em;
      font-weight:900;
      padding: 5px 0;
    }
    .post-action-content {
      color: $fontColor1;
      padding: 5px 0;
      font-weight:700;
      .ui-button-text-only .ui-button-text {
        padding: 0.1em 1em 0.22em;
        font-weight:400;
      }
    }
  }
}
.post-timeline {
  ul {
    padding: 0;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background: $fadeGrey;
      width: 5px;
      margin-left: -6px;
      left: 15%;
    }
    li {
      list-style: none;
      padding: 0;
      position: relative;
    }
  }
  time {
    display: block;
    width: 20%;
    padding-right: 100px;
    position: absolute;
    top: 12px;
    .post-timeline--time {
      color: #575858;
      font-size: 15px;
      font-weight:700;
      display: block;
      text-align: right;
    }
    .post-timeline--day {
      display: block;
      text-align: right;
      font-size:12px;
    }
  }
  .post-timeline--icon {
    width: 40px;
    height: 40px;
    speak: none;
    font-size: 1.2em;
    line-height: 37px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    background-color: white;
    color: $uclblue;
    border-radius: 50%;
    border: 3px solid $uclblue;
    text-align: center;
    left: 15%;
    top: 10px;
    margin: 0 0 0 -24px;
  }
  .post-timeline--label {
    margin-left:20%;
    background: $fadeGrey;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0px;
    -moz-background-clip: padding;
    border-radius: 0px;
    background-clip: padding-box;
    position: relative;
    &:after {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: $fadeGrey;
      border-width: 10px;
      top: 20px;
    }
  }
  .action-extend {
    .post-timeline--icon {
      color: $goldColor;
      border-color: $goldColor;
    }
  }
  .action-accept {
    .post-timeline--icon {
      color: $uclgreen;
      border-color: $uclgreen;
    }
  }
  .action-correct {
    .post-timeline--icon {
      color: $qualificationsColor;
      border-color: $qualificationsColor;
    }
  }
  .action-reject {
    .post-timeline--icon {
      color: $error;
      border-color: $error;
    }
  }
  .action-suspend {
    .post-timeline--icon {
      color: $programColor;
      border-color: $programColor;
    }
  }
  .action-restore {
    .post-timeline--icon {
      color: $fundingColor;
      border-color: $fundingColor;
    }
  }
  .action-withdraw, .action-retire {
    .post-timeline--icon {
      color: $uclred;
      border-color: $uclred;
    }
  }
}
.publisher {
  md-card-title h3{
    font-weight:700;
    font-size:1.2em;
    color: $fontColor1;
  }
  md-card-content {
    padding-bottom:0;
    h3 {
      margin-top:10px;
      padding-bottom:5px;
    }
  }
}
