<section *ngIf="post" class="section">
  <div class="grid">
    <div class="grid__item medium-up--three-quarters small-one-whole post">
      <div class="post-content">
        <div class=" post-content--excerpt">
          {{post.summary}}
        </div>
        <div *ngIf="post.description" class="post-content--description ql-editor-view" [innerHtml]="post.description">
        </div>
      </div>

      <div *ngIf="post.state === 'ACCEPTED'">
        <b-post-apply [post]="post"></b-post-apply>

        <share-buttons [title]="post.name" [description]="post.summary" [pinterest]="false" [stumbleUpOn]="false"
                       [reddit]="false" [whatsApp]="false" [tumblr]="false"
                       [image]="post.board.documentLogo?.cloudinaryUrl" [showCount]="true"></share-buttons>
      </div>

    </div>
    <div class="grid__item medium-up--one-quarter small-one-whole publisher">
      <md-card>
        <md-card-header class="header-full">
          <md-card-title>
            <h3>Posted on</h3>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <div class="grid">
            <div class="grid__item one-whole">
              <div *ngIf="post.board.department.documentLogo" md-card-avatar class="logo-holder-small default-logo">
                <b-image [publicId]="post.board.department.documentLogo?.cloudinaryId"
                         gravity="north_west" height="150" width="200" crop="mfit"></b-image>
              </div>
              <h3><a [routerLink]="['/', post.board.department.handle]">{{post.board.department.name}}</a></h3>
              <h4><a [routerLink]="['/', post.board.department.handle, post.board.handle]">{{post.board.name}}</a></h4>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <div class="category-list">
        <span class="ui-chips-token ui-corner-all" *ngFor="let category of post.postCategories">{{category}}</span>
      </div>

    </div>
  </div>
</section>

<b-resource-timeline *ngIf="post" [resource]="post"></b-resource-timeline>
