@import '../../../assets/variables';

.post {
  .post-content {
    padding: 0 10px 45px;
    .rte {
      line-height: 1.5rem;
    }
  }
  .post-content--excerpt {
    font-size: 110%;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 15px;
  }
  .post-content--description {
    font-size: 95%;
    font-weight: 400;
    line-height: 1rem;
  }
}

.publisher {
  mat-card-content {
    padding-bottom: 0;
    h3 {
      margin-top: 10px;
      font-weight:400;
      padding-bottom: 5px;
      small {
        color: $activeGrey;
      }
    }
  }
}
