<section class="section">
  <div class="section-header">
    <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{post.name}}</h2>
      <div>

        <p-splitButton label="Settings" icon="fa-gear" (onClick)="gotoSettings()" [model]="actions"
                       class="ui-button-info"></p-splitButton>
      </div>
    </div>
  </div>
  <div class="post-content">
    <div>
      {{post.description}}
    </div>
    <div>
      Categories: <span *ngFor="let category of post.postCategories">{{category}}</span>
    </div>
    <div>
      Organization: {{post.organizationName}}
    </div>
    <div>
      Location: {{post.location.name}}
    </div>
    <div *ngIf="post.applyWebsite">
      <a href="{{post.applyWebsite}}">Apply</a>
    </div>
    <div *ngIf="post.applyDocument">
      <a target="_blank" href="{{post.applyDocument.cloudinaryUrl}}">
        {{post.applyDocument.fileName}}
      </a>
    </div>
    <div *ngIf="post.applyEmail">
      <a href="mailto:{{post.applyEmail}}">
        {{post.applyEmail}}
      </a>
    </div>
    <div>
      Live date: {{post.liveTimestamp | date:'short'}}
      Closing date: {{post.deadTimestamp | date:'short'}}
    </div>
  </div>

  <div>
    <h2>Operations</h2>
    <ul>
      <li *ngFor="let operation of operations">
        {{'definitions.action.' + operation.action | translate}}
        ({{operation.user.givenName}} {{operation.user.surname}} - {{operation.user.email}})
        {{operation.createdTimestamp | date:'short'}}
        <div *ngIf="operation.changeList">
          <div>Changes:</div>
          <div *ngFor="let change of operation.changeList">
            {{change.property}} changed from {{change.oldValue}} to {{change.newValue}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
