@import 'variables';
@import 'grid';

// Card styling
.mat-input-container{
  width: 100%;
}

mat-card {
  .ui-tabmenu {
    margin: 0px -24px 0px -24px ;
  }
  &.mat-card {
    font-family:'Roboto';
  }
}
mat-card.mat-card>:first-child {
  margin-top: -24px;
}
.mat-card-content {
  padding-top: 16px;
  padding-bottom: 5px;
  font-size: 12px;
}
mat-card.mat-card {
  &.post {
    border: 1px solid $uclred;
    h3 a{
      font-size: 19px;
      font-weight: 400;
      color: $new-text;
    }
  }
  margin-bottom:15px;
  .mat-input-placeholder, .mat-input-placeholder-wrapper {
    padding-top:0.6em;
  }
  &.no-content {
    .mat-card-header {
      margin: -24px;
    }
  }
  .mat-card-header {
    max-width: inherit !important;
    margin: -24px -16px 0 -16px;
    @include media-query($medium-up){
      margin: -24px -24px 0 -24px ;
    }
    background: transparent;
    height: auto;
  }
  .mat-card-header-text {
    height: auto;
    padding: 15px 0 0 0;
    margin: 0 22px;
    mat-card-title {
      margin-bottom:0;
    }
  }
  .header-full {
    .mat-card-header-text {
      width: 100%;
    }
  }
  .mat-card-actions {
    text-align: right;
    margin: 0 -16px -24px -16px ;
    @include media-query($medium-up){
      margin: 0 -24px -24px -24px ;
    }
    padding: 12px 15px;
    &:last-child {
      padding-bottom:12px;
    }
  }
  .mat-input-element {
    font-size:$mat-body-font-size-base;
    padding: 6px 0;
  }
  .mat-input-placeholder  {
    height: 50px;
    font-size: 130%;
  }
  .mat-input-placeholder-wrapper {
    height: 50px;
  }
  .mat-card-subtitle {
    margin-bottom:0;
    h6 {
      font-weight: 300;
    }
  }
  .mat-card-header .mat-card-subtitle:not(:first-child), .mat-card>.mat-card-xl-image:first-child {
    margin-top:4px;
  }
  .mat-card-avatar {
    height: auto;
    width: auto;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 3px;
    max-width: 70px;
    margin-left: 24px;
    @include media-query($medium-up){
      order: 2;
      max-width: none;
      margin-left:0;
    }
    &.logo-holder-small {
      img {
        max-height: 45px;
        line-height:0;
      }
    }
    &.avatar {
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
.logo-holder-activity {
  flex: 1 0 60px
}
.logo-holder-activity.default-logo {
  width: 50px !important;
  margin-right: 10px;
  height: 50px !important;
  flex: 1 0 50px
}
b-image {
  display: block;
  line-height:0;
}
.section-header {
  background: $greyBackground;
  padding:10px;
  margin-bottom:15px;
  border-bottom:1px solid $fadeGrey;
  min-height: 36px;
  h1 {
    font-size:1.6rem;
  }
}
b-file-upload[type=logo] {
  margin: auto;
  display: block;
  width: 206px;
  > div {
    display: flex;
  }
}
b-file-upload[type=avatar].avatar {
  width: 131px;
  margin: auto;
  label.drop-area.logo {
    border-radius: 50% ;
    width: 131px ;
    background: white;
    overflow: hidden;
    span {
      text-align: center;
      display: block;
    }
    .logo-flex {
     width: 125px;
    }
  }
}
.mat-dialog-content, .block-avatar {
  .drop-area {
    margin: auto;
  }
}
.sb-template .fa {
  padding: 0.2em .4em !important;
  font-size: 1.3em !important;
}
.general-card-summary {
  border-bottom: 1px solid $fadeGrey;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 1.1em;
}
.status-box {
  margin-bottom: 6px;
  &.expired {
    color: $newred;
  }
  &.pending {
    color: $employmentColor;
  }
  &.withdrawn {
    color: $uclred;
  }
}
.bottom-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: -4px;
}
.boxes-list {
  margin-bottom:-10px !important;
  margin-top:-2px !important;
  &.post-view {
    margin-top: -25px;
    margin-bottom: 35px !important;
  }
  flex-wrap: wrap;
  .boxes-list__item {
    text-align: left;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 10px;
    @include media-query($medium-up) {
      margin-bottom: 0;
    }
    .number {
      display: inline-block;
      line-height: 1em;
      font-size: 14px;
      font-weight: bold;
      padding: 0;
    }
    .title {
      display: inline-block;
      font-size: 15px;
      line-height: 1.4em;
      padding: 0 4px 0 9px;
      font-weight: 400;
    }
    &.boards {
      .title {
        color: $uclred;
      }
    }
    &.posts {
      .title {
        color: $uclblue;
      }
    }
    &.draft {
      .title {
        color: $uclblue2;
      }
    }
    &.members {
      .title {
        color: $uclfooter;
      }
    }
    &.authors, &.applied  {
      .title {
        color: $uclblue3;
      }
    }
    &.reports {
      .title {
        color: $programColor;
      }
    }


    &.extend {
      .title {
        color: $goldColor;
      }
    }
    &.accepted, &.no-applied {
      .title {
        color: $uclgreen;
      }
    }
    &.correct {
      .title {
        color: $qualificationsColor;
      }
    }
    &.rejected, &.expired {
      .title {
        color: $error;
      }
    }
    &.suspended {
      .title {
        color: $programColor;
      }
    }
    &.restored {
      .title {
        color: $fundingColor;
      }
    }
    &.withdrawn {
      .title {
        color: $uclred;
      }
    }
  }
}
mat-card.users.mat-card {
  mat-card-header {
    min-height: 48px;
  }
  .mat-card-header-text {
    height: auto;
    padding: 11px 0 8px;
    margin: 0 15px;
    font-size:14px;
    width: stretch;
  }
  mat-card-title {
    width: 100%;
    line-height: 25px;
  }
  .mat-card-avatar {
    order: 0;
    margin-right: 0;
    margin-left:15px;
    &.no-background img {
      max-height: 35px;
    }
  }
  .card-actions {
    display: inline-block;
    float: right;
  }
  &:not(.no-popup).mat-card .mat-card-header{
    cursor: pointer !important;
    &:hover {
      background: $activeGrey;
    }
  }
}

div.last-admin {
  mat-card.users.mat-card .mat-card-header{
    cursor: default !important;
    &:hover {
      background: #ececec;
    }
  }
}

b-image {
  line-height: 0;
  display: block;
}

.user-settings {
  overflow: visible !important;
  mat-dialog-content, .mat-dialog-container {
    overflow: visible !important;
    @include media-query($small) {
      overflow-x: scroll !important;
    }
  }
}
.logo-holder.default-logo {
  width: 100% !important;;
  height: 120px !important;
  background-size: 29%;
}
.default-logo {
  background: url("/assets/prism-logo.svg") $uclblue no-repeat center center;
  background-size: 60%;
  height: 45px !important;
  width: 45px !important;
}
.mat-dialog-container {
  max-width: 90vw !important;
  min-width: 80vw ;
  max-height: 86vh;
  margin:auto;
  padding: 14px 14px 4px 14px !important;
  @include media-query($medium-up) {
    padding: 24px !important;
    min-width: inherit;
    max-height: none;
  }
}
.mat-dialog-content {
  @include media-query($small) {
    padding: 0;
    margin: 0;
  }
}
mat-dialog-actions {
  clear: both;
}
.mat-dialog-actions:last-child {
  @include media-query($small) {
    margin-top:0;
    margin-bottom:0 !important;
  }
}
mat-dialog-container.mat-dialog-container {
  @include media-query($small) {
    overflow-x: scroll !important;
  }
}
/*================ Responsive display fullsize screen Helper ================*/
@mixin responsive-display-full($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}inner-full {
    margin: auto calc(-50vw + 50%);
  }

  .#{$breakpoint}but-half {
    margin: auto calc(-25vw + 25%);
  }
}
.post-list {
  flex: 1 auto;
  @include media-query($medium-up){
    flex: 1;
  }
}
.post-new {
  @include media-query($medium-up){
    margin-left: 20px;
    flex: 0;
  }
}
