@import 'variables';

// Card styling
.mat-input-container{
  width: 100%;
}

md-card {
  .ui-tabmenu {
    margin: 0px -24px 0px -24px ;
  }
  &.mat-card {
    font-family:'Roboto';
  }
}
md-card.mat-card>:first-child {
  margin-top: -24px;
}
.mat-card-content {
  padding-top: $section-spacing-small;
  padding-bottom: $section-spacing-small / 2;
}
md-card.mat-card {
  margin-bottom:15px;
  .mat-input-placeholder, .mat-input-placeholder-wrapper {
    padding-top:0.6em;
  }
  .mat-card-header {
    margin: -24px -24px 0 -24px ;
    background: $fadeGrey;
    height: auto;
  }
  .mat-card-header-text {
    height: auto;
    padding: 15px 0;
    margin: 0 22px;
    md-card-title {
      margin-bottom:0;
    }
  }
  .header-full {
    .mat-card-header-text {
      width: 100%;
    }
  }
  .mat-card-actions {
    background: $greyBackground;
    text-align: right;
    margin: 0 -24px -24px -24px ;
    padding: 12px 15px;
    &:last-child {
      margin-bottom:-24px;
      padding-bottom:12px;
    }
  }
  .mat-input-element {
    font-size:$mat-body-font-size-base;
    padding: 6px 0;
  }
  .mat-input-placeholder  {
    height: 50px;
    font-size: 130%;
  }
  .mat-input-placeholder-wrapper {
    height: 50px;
  }
  .mat-card-subtitle {
    margin-bottom:0;
  }
  .mat-card-header .mat-card-subtitle:not(:first-child), .mat-card>.mat-card-xl-image:first-child {
    margin-top:4px;
  }
  .mat-card-avatar {
    height: auto;
    order: 2;
    width: auto;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 3px;
    &.no-background {
      width: auto;
      img {
        max-height: 45px;
      }
    }
  }
}
.section-header {
  background: $greyBackground;
  padding:10px;
  margin-bottom:15px;
  border-bottom:1px solid $fadeGrey;
}
b-file-upload[type=logo] {
  margin: auto;
  display: block;
  width: 206px;
  > div {
    display: flex;
  }
}
b-file-upload[type=avatar].avatar {
  width: 131px;
  margin: auto;
  label.drop-area.logo {
    border-radius: 50% ;
    width: 131px ;
    background: white;
    overflow: hidden;
    span {
      display: block;
      padding-top: 47px;
    }
    .logo-flex {
     width: 125px;
    }
  }
}
.sb-template .fa {
  padding: 0.2em .4em !important;
  font-size: 1.3em !important;
}
.general-card-summary {
  border-bottom: 1px solid $fadeGrey;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 1.1em;
}
.boxes-list {
  flex-wrap: wrap;
  .boxes-list__item {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    .number {
      display: inline-block;
      line-height: 1.9em;
      font-size: 15px;
      font-weight: bold;
      padding: 0 10px 0 9px;
    }
    .title {
      display: inline-block;
      font-size: 15px;
      line-height: 1.9em;
      padding: 0 10px 0 9px;
      font-weight: 400;
      background: $fadeGrey;
      color: white;
    }
    &.boards {
      .title {
        background: $uclred;
      }
    }
    &.posts {
      .title {
        background: $uclblue;
      }
    }
    &.members {
      .title {
        background: $uclblue2;
      }
    }
    &.connections {
      .title {
        background: $uclgreen;
      }
    }
    &.reports {
      .title {
        background: $programColor;
      }
    }
    &.views {
      .title {
        background: $goldColor;
      }
    }
    &.responses {
      .title {
        background: $fundingColor;
      }
    }
    &.extend {
      .title {
        background: $goldColor;
      }
    }
    &.accepted {
      .title {
        background: $uclgreen;
      }
    }
    &.correct {
      .title {
        background: $qualificationsColor;
      }
    }
    &.rejected, &.expired {
      .title {
        background: $error;
      }
    }
    &.suspended {
      .title {
        background: $programColor;
      }
    }
    &.restored {
      .title {
        background: $fundingColor;
      }
    }
    &.withdrawn {
      .title {
        background: $uclred;
      }
    }
  }
}
