@import 'variables';

form, .form {
  .ui-inputtext {
    padding: 0.6em;
    width: 100%;
  }
  .ui-message {
    margin: 4px 0 0 0;
    padding: 0.4em;
  }
  p.info {
    color: $uclhue3;
    font-size:94%;
  }
  .ui-messages-error {
    background-color: $error ;
  }
  .input-holder {
    margin-bottom: 15px;
    > label {
      font-weight:00;
    }
  }
  .date-holder {
    margin-top:10px;
  }
  .actions-holder {
    margin-top:15px;
  }
  label {
    font-size:110%;
    margin-bottom:6px;
    display: inline-block;
  }
}

button.ui-button {
  .ui-button-text {
    display: inline-block;
  }
  &.ui-button-warning {
    &.ui-state-default {
      background-color: $uclred;
      border-color: $uclred;
    }
  }
}
button.ui-state-default {
  border-color: transparent;
}
.board-filter {
  background: $greyBackground;
  padding:5px 10px;
  .input-holder  {
    margin-bottom:0;
    width: 25%;
  }
  margin-bottom:15px;
}
