@import 'variables';
@import 'grid';
form, .form {
  .ui-inputtext {
    padding: 0.6em;
    width: 100%;
  }
  .ui-message {
    margin: 4px 0 0 0;
    padding: 0.4em;
  }
  p.info {
    color: $uclhue3;
    font-size:94%;
  }
  .ui-messages-error {
    background-color: $error ;
  }
  .input-holder {
    margin-bottom: 15px;
    > label {
      font-weight:500;
    }
  }
  .date-holder {
    margin-top:10px;
  }
  .actions-holder {
    margin-top:15px;
    .ui-button-warning {
      margin-bottom:15px;
      @include media-query($medium-up) {
        margin-bottom:0;
      }
    }
    .ui-button-secondary {
      margin-bottom:15px;
      @include media-query($medium-up) {
        margin-right: 15px;
        margin-bottom:0;
      }
    }
    .ui-button-success {
      margin-bottom:15px;
      @include media-query($medium-up) {
        margin-bottom:0;
      }
    }
  }
  label:not(.ui-dropdown-label) {
    font-size:1rem;
    margin-bottom:6px;
    display: inline-block;
  }
}
.input-beside-title {
  margin-top: -44px;
  float: right;
  display: inline-block;
}
button.ui-button, a.ui-button {
  .ui-button-text {
    display: inline-block;
  }
  &.ui-button-warning {
    &.ui-state-default {
      background-color: $uclred;
      border-color: $uclred;
    }
  }
}
.ui-button.ui-button-post.ui-state-default {
  border-color: $uclred;
  color: $uclred;
  &:hover {
    color: $uclred;
    background: lighten($uclred, 40%);
  }
}

button.ui-state-default {
  border-color: transparent;
  background: transparent;
}
.users-headers {
  .search-filter {
    margin-bottom:0;
    padding: 0;
    .input-holder  {
      width: auto;
    }
  }
}
.search-filter {
  background: $greyBackground;
  padding:10px;
  .input-holder  {
    margin-bottom:10px;
    width: 100%;
    @include media-query($medium-up) {
      width: 25%;
      margin-bottom: 0;
    }
    input {
      margin-right:6px;
    }
    .ui-inputtext {
      padding: 0.35em;
    }
  }
  .ui-widget {
    font-size:1rem;
  }
  .ui-button-text-only .ui-button-text {
    padding: 0.2em 0.5em;
  }
  margin-bottom:15px;
}
.avatar-title {
  background: $fadeGrey;
  margin: -24px -24px 14px -24px;
  padding: 14px;
  border-radius: 4px 4px 0 0;
  h2 {
    margin:0;
    padding:0;
  }
}
.avatar-footer.mat-dialog-actions {
  background: $fadeGrey;
  margin: 14px -24px -8px -24px;
  padding: 14px;
  border-radius: 0 0 4px 4px;
}
p-dialog {
  display: block;
  .ui-dialog {
    max-width: 90%;
  }
  p-header {
    display: block;
    background: $fadeGrey;
    //margin: -10px -19px 8px -18px;
    padding: 14px;
    border-radius: 4px 4px 0 0;
    color: black;
    font-weight:500;
  }
  .ui-dialog-titlebar-close {
    position: absolute;
    top: 12px;
    right: 11px;
    color: black !important;
    &:hover {
      border-color: transparent !important;
    }
  }
  p-footer {
    display: block;
    background: $fadeGrey;
    margin: 6px -19px -8px -18px;
    padding: 14px;
    border-radius: 0 0 4px 4px;
    h6 {
      display: inline-block;
    }
    a {
      margin-left: 10px;
    }
  }
  .small {
    font-size: 0.8rem !important;
  }
  .boards {
    display: inline-block;
    margin-right: 4px;
    margin-bottom:4px;
    a {
      font-size: 0.8rem !important;
    }
  }
}
.ui-button.ui-button-secondary.ui-state-default {
  &.hollow {
    background: transparent;
    border: 2px solid white;
    border-radius: 0;
    min-width: 110px;
  }
}
.ui-button-create.ui-button {
  background: $uclred;
  color: white;
  width: 100px;
  height: 100px;
  &:hover {
    background: lighten($uclred, 10%) !important;
    .ui-button-text {
      color: white;
    }
  }
  .ui-button-icon-left {
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    font-size: 30px;
  }
  .ui-button-text {
    font-size: 12px;
    color: $uclred;
    padding: 10px 0 0 0;
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    position: absolute;
    bottom: -4px;
    right: -12px;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #f9fbfb;
    transform: rotate(-45deg);
  }
}
.create-column {
  display: flex;
  justify-content: flex-end;
}
