@import 'variables';

form {
  .ui-inputtext {
    padding: 0.6em;
    width: 100%;
  }
  .ui-message {
    margin: 4px 0 0 0;
    padding: 0.4em;
  }
  p.info {
    color: $uclhue3;
    font-size:94%;
  }
  .ui-messages-error {
    background-color: $error ;
  }
}

.url-builder {
  .grid__item {
    position: relative;
  }
  .separator-right {
    position: absolute;
    right: -19px;
    color: grey;
    top: 21px;
    font-size: 18px;
  }
  .separator-left {
    position: absolute;
    left: 10px;
    color: grey;
    top: 21px;
    font-size: 18px;
  }
}
.ui-button {
  .ui-button-warning {
    .ui-state-default {

    }
  }
}
button.ui-button-text-only {
  .ui-button-text {
    padding: 0.30em 1em;
  }
}

