.fa-2x {
  font-size: 1.5em; }

@font-face {
  font-family: "simple-line-icons";
  src: url("../fonts/Simple-Line-Icons.eot?v=2.4.0");
  src: url("../fonts/Simple-Line-Icons.eot?v=2.4.0#iefix") format("embedded-opentype"), url("../fonts/Simple-Line-Icons.woff2?v=2.4.0") format("woff2"), url("../fonts/Simple-Line-Icons.ttf?v=2.4.0") format("truetype"), url("../fonts/Simple-Line-Icons.woff?v=2.4.0") format("woff"), url("../fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("/assets/icons/icomoon.eot");
  src: url("/assets/icons/icomoon.eot#iefix") format("embedded-opentype"), url("/assets/icons/icomoon.ttf") format("truetype"), url("/assets/icons/icomoon.woff") format("woff"), url("/assets/icons/icomoon.svg?#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="fa-"], [class*=" fa-"] {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-angle-right, .fa-caret-down, .fa-angle-left, .fa-angle-down, .fa-extend, .fa-accept, .fa-accepted, .fa-angle-up, .fa-user, .fa-people, .fa-user-female, .fa-user-follow, .fa-user-following, .fa-user-unfollow, .fa-login, .fa-circle, .fa-correct, .fa-logout, .fa-withdraw, .fa-withdrawn, .fa-emotsmile, .fa-phone, .fa-call-end, .fa-call-in, .fa-call-out, .fa-map, .fa-location-pin, .fa-direction, .fa-directions, .fa-compass, .fa-layers, .fa-menu, .fa-list, .fa-options-vertical, .fa-options, .fa-arrow-down, .fa-arrow-left, .fa-arrow-right, .fa-arrow-up, .fa-arrow-up-circle, .fa-arrow-left-circle, .fa-arrow-right-circle, .fa-arrow-down-circle, .fa-check, .fa-clock, .fa-plus, .fa-minus, .fa-close, .fa-event, .fa-exclamation, .fa-organization, .fa-trophy, .fa-screen-smartphone, .fa-screen-desktop, .fa-plane, .fa-notebook, .fa-mustache, .fa-mouse, .fa-magnet, .fa-energy, .fa-disc, .fa-cursor, .fa-cursor-move, .fa-crop, .fa-chemistry, .fa-speedometer, .fa-shield, .fa-screen-tablet, .fa-magic-wand, .fa-hourglass, .fa-graduation, .fa-ghost, .fa-game-controller, .fa-fire, .fa-eyeglass, .fa-envelope-open, .fa-envelope-letter, .fa-bell, .fa-badge, .fa-anchor, .fa-wallet, .fa-vector, .fa-speech, .fa-puzzle, .fa-printer, .fa-present, .fa-playlist, .fa-pin, .fa-retire, .fa-picture, .fa-handbag, .fa-globe-alt, .fa-globe, .fa-folder-alt, .fa-folder, .fa-film, .fa-feed, .fa-drop, .fa-drawer, .fa-docs, .fa-reject, .fa-rejected, .fa-doc, .fa-diamond, .fa-cup, .fa-calculator, .fa-bubbles, .fa-briefcase, .fa-book-open, .fa-basket-loaded, .fa-basket, .fa-bag, .fa-action-undo, .fa-action-redo, .fa-wrench, .fa-umbrella, .fa-trash, .fa-tag, .fa-support, .fa-expired, .fa-frame, .fa-size-fullscreen, .fa-size-actual, .fa-shuffle, .fa-restore, .fa-share-alt, .fa-share, .fa-rocket, .fa-publish, .fa-question, .fa-pie-chart, .fa-pencil, .fa-draft, .fa-edit, .fa-note, .fa-loop, .fa-home, .fa-grid, .fa-suspend, .fa-suspended, .fa-graph, .fa-microphone, .fa-music-tone-alt, .fa-music-tone, .fa-earphones-alt, .fa-earphones, .fa-equalizer, .fa-like, .fa-dislike, .fa-control-start, .fa-control-rewind, .fa-control-play, .fa-control-pause, .fa-control-forward, .fa-control-end, .fa-volume-1, .fa-volume-2, .fa-volume-off, .fa-calendar, .fa-bulb, .fa-chart, .fa-ban, .fa-bubble, .fa-camrecorder, .fa-camera, .fa-cloud-download, .fa-cloud-upload, .fa-envelope, .fa-eye, .fa-flag, .fa-heart, .fa-info, .fa-info-circle, .fa-key, .fa-link, .fa-lock, .fa-lock-open, .fa-magnifier, .fa-magnifier-add, .fa-magnifier-remove, .fa-paper-clip, .fa-paper-plane, .fa-power, .fa-refresh, .fa-reload, .fa-settings, .fa-gear, .fa-star, .fa-symbol-female, .fa-symbol-male, .fa-target, .fa-credit-card, .fa-paypal, .fa-social-tumblr, .fa-social-twitter, .fa-twitter, .fa-social-facebook, .fa-facebook, .fa-social-instagram, .fa-social-linkedin, .fa-linkedin, .fa-social-pinterest, .fa-social-github, .fa-social-google, .fa-google-plus, .fa-social-reddit, .fa-social-skype, .fa-social-dribbble, .fa-social-behance, .fa-social-foursqare, .fa-social-soundcloud, .fa-social-spotify, .fa-social-stumbleupon, .fa-social-youtube, .fa-social-dropbox, .fa-social-vkontakte, .fa-social-steam {
  font-family: "simple-line-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-user:before {
  content: "\e005"; }

.fa-people:before {
  content: "\e001"; }

.fa-user-female:before {
  content: "\e000"; }

.fa-user-follow:before {
  content: "\e002"; }

.fa-user-following:before {
  content: "\e003"; }

.fa-user-unfollow:before {
  content: "\e004"; }

.fa-login:before {
  content: "\e066"; }

.fa-logout:before, .fa-retire:before {
  content: "\e065"; }

.fa-emotsmile:before {
  content: "\e021"; }

.fa-phone:before {
  content: "\e600"; }

.fa-call-end:before {
  content: "\e048"; }

.fa-call-in:before {
  content: "\e047"; }

.fa-call-out:before {
  content: "\e046"; }

.fa-map:before {
  content: "\e033"; }

.fa-location-pin:before {
  content: "\e096"; }

.fa-direction:before {
  content: "\e042"; }

.fa-directions:before {
  content: "\e041"; }

.fa-compass:before {
  content: "\e045"; }

.fa-layers:before {
  content: "\e034"; }

.fa-menu:before {
  content: "\e601"; }

.fa-list:before {
  content: "\e067"; }

.fa-options-vertical:before {
  content: "\e602"; }

.fa-options:before {
  content: "\e603"; }

.fa-arrow-down:before, .fa-angle-down:before, .fa-caret-down:before {
  content: "\e604"; }

.fa-arrow-left:before, .fa-angle-left:before {
  content: "\e605"; }

.fa-arrow-right:before, .fa-angle-right:before {
  content: "\e606"; }

.fa-arrow-up:before, .fa-angle-up:before {
  content: "\e607"; }

.fa-arrow-up-circle:before {
  content: "\e078"; }

.fa-arrow-left-circle:before {
  content: "\e07a"; }

.fa-arrow-right-circle:before {
  content: "\e079"; }

.fa-arrow-down-circle:before {
  content: "\e07b"; }

.fa-check:before, .fa-circle:before {
  content: "\e080"; }

.fa-clock:before, .fa-expired:before {
  content: "\e081"; }

.fa-plus:before {
  content: "\e095"; }

.fa-minus:before {
  content: "\e615"; }

.fa-close:before, .fa-withdraw:before, .fa-withdrawn:before {
  content: "\e082"; }

.fa-event:before {
  content: "\e619"; }

.fa-exclamation:before {
  content: "\e617"; }

.fa-organization:before {
  content: "\e616"; }

.fa-trophy:before {
  content: "\e006"; }

.fa-screen-smartphone:before {
  content: "\e010"; }

.fa-screen-desktop:before {
  content: "\e011"; }

.fa-plane:before {
  content: "\e012"; }

.fa-notebook:before {
  content: "\e013"; }

.fa-mustache:before {
  content: "\e014"; }

.fa-mouse:before {
  content: "\e015"; }

.fa-magnet:before {
  content: "\e016"; }

.fa-energy:before, .fa-correct:before {
  content: "\e020"; }

.fa-disc:before {
  content: "\e022"; }

.fa-cursor:before {
  content: "\e06e"; }

.fa-cursor-move:before {
  content: "\e023"; }

.fa-crop:before {
  content: "\e024"; }

.fa-chemistry:before {
  content: "\e026"; }

.fa-speedometer:before {
  content: "\e007"; }

.fa-shield:before {
  content: "\e00e"; }

.fa-screen-tablet:before {
  content: "\e00f"; }

.fa-magic-wand:before, .fa-restore:before {
  content: "\e017"; }

.fa-hourglass:before {
  content: "\e018"; }

.fa-graduation:before {
  content: "\e019"; }

.fa-ghost:before {
  content: "\e01a"; }

.fa-game-controller:before {
  content: "\e01b"; }

.fa-fire:before, .fa-reject:before, .fa-rejected:before {
  content: "\e01c"; }

.fa-eyeglass:before {
  content: "\e01d"; }

.fa-envelope-open:before {
  content: "\e01e"; }

.fa-envelope-letter:before {
  content: "\e01f"; }

.fa-bell:before {
  content: "\e027"; }

.fa-badge:before, .fa-extend:before {
  content: "\e028"; }

.fa-anchor:before {
  content: "\e029"; }

.fa-wallet:before {
  content: "\e02a"; }

.fa-vector:before {
  content: "\e02b"; }

.fa-speech:before {
  content: "\e02c"; }

.fa-puzzle:before {
  content: "\e02d"; }

.fa-printer:before {
  content: "\e02e"; }

.fa-present:before {
  content: "\e02f"; }

.fa-playlist:before {
  content: "\e030"; }

.fa-pin:before {
  content: "\e031"; }

.fa-picture:before {
  content: "\e032"; }

.fa-handbag:before {
  content: "\e035"; }

.fa-globe-alt:before {
  content: "\e036"; }

.fa-globe:before {
  content: "\e037"; }

.fa-folder-alt:before {
  content: "\e039"; }

.fa-folder:before {
  content: "\e089"; }

.fa-film:before {
  content: "\e03a"; }

.fa-feed:before {
  content: "\e03b"; }

.fa-drop:before {
  content: "\e03e"; }

.fa-drawer:before {
  content: "\e03f"; }

.fa-docs:before {
  content: "\e040"; }

.fa-doc:before {
  content: "\e085"; }

.fa-diamond:before {
  content: "\e043"; }

.fa-cup:before {
  content: "\e044"; }

.fa-calculator:before {
  content: "\e049"; }

.fa-bubbles:before {
  content: "\e04a"; }

.fa-briefcase:before {
  content: "\e04b"; }

.fa-book-open:before {
  content: "\e04c"; }

.fa-basket-loaded:before {
  content: "\e04d"; }

.fa-basket:before {
  content: "\e04e"; }

.fa-bag:before {
  content: "\e04f"; }

.fa-action-undo:before {
  content: "\e050"; }

.fa-action-redo:before {
  content: "\e051"; }

.fa-wrench:before {
  content: "\e052"; }

.fa-umbrella:before {
  content: "\e053"; }

.fa-trash:before {
  content: "\e054"; }

.fa-tag:before {
  content: "\e055"; }

.fa-support:before {
  content: "\e056"; }

.fa-frame:before {
  content: "\e038"; }

.fa-size-fullscreen:before {
  content: "\e057"; }

.fa-size-actual:before {
  content: "\e058"; }

.fa-shuffle:before {
  content: "\e059"; }

.fa-share-alt:before {
  content: "\e05a"; }

.fa-share:before {
  content: "\e05b"; }

.fa-rocket:before, .fa-publish:before {
  content: "\e05c"; }

.fa-question:before {
  content: "\e05d"; }

.fa-pie-chart:before {
  content: "\e05e"; }

.fa-pencil:before, .fa-edit:before, .fa-draft:before {
  content: "\e05f"; }

.fa-note:before {
  content: "\e060"; }

.fa-loop:before {
  content: "\e064"; }

.fa-home:before {
  content: "\e069"; }

.fa-grid:before {
  content: "\e06a"; }

.fa-graph:before {
  content: "\e06b"; }

.fa-microphone:before {
  content: "\e063"; }

.fa-music-tone-alt:before {
  content: "\e061"; }

.fa-music-tone:before {
  content: "\e062"; }

.fa-earphones-alt:before {
  content: "\e03c"; }

.fa-earphones:before {
  content: "\e03d"; }

.fa-equalizer:before {
  content: "\e06c"; }

.fa-like:before, .fa-accept:before, .fa-accepted:before {
  content: "\e068"; }

.fa-dislike:before, .fa-suspend:before, .fa-suspended:before {
  content: "\e06d"; }

.fa-control-start:before {
  content: "\e06f"; }

.fa-control-rewind:before {
  content: "\e070"; }

.fa-control-play:before {
  content: "\e071"; }

.fa-control-pause:before {
  content: "\e072"; }

.fa-control-forward:before {
  content: "\e073"; }

.fa-control-end:before {
  content: "\e074"; }

.fa-volume-1:before {
  content: "\e09f"; }

.fa-volume-2:before {
  content: "\e0a0"; }

.fa-volume-off:before {
  content: "\e0a1"; }

.fa-calendar:before {
  content: "\e075"; }

.fa-bulb:before {
  content: "\e076"; }

.fa-chart:before {
  content: "\e077"; }

.fa-ban:before {
  content: "\e07c"; }

.fa-bubble:before {
  content: "\e07d"; }

.fa-camrecorder:before {
  content: "\e07e"; }

.fa-camera:before {
  content: "\e07f"; }

.fa-cloud-download:before {
  content: "\e083"; }

.fa-cloud-upload:before {
  content: "\e084"; }

.fa-envelope:before {
  content: "\e086"; }

.fa-eye:before {
  content: "\e087"; }

.fa-flag:before {
  content: "\e088"; }

.fa-heart:before {
  content: "\e08a"; }

.fa-info:before, .fa-info-circle:before {
  content: "\e08b"; }

.fa-key:before {
  content: "\e08c"; }

.fa-link:before {
  content: "\e08d"; }

.fa-lock:before {
  content: "\e08e"; }

.fa-lock-open:before {
  content: "\e08f"; }

.fa-magnifier:before {
  content: "\e090"; }

.fa-magnifier-add:before {
  content: "\e091"; }

.fa-magnifier-remove:before {
  content: "\e092"; }

.fa-paper-clip:before {
  content: "\e093"; }

.fa-paper-plane:before {
  content: "\e094"; }

.fa-power:before {
  content: "\e097"; }

.fa-refresh:before {
  content: "\e098"; }

.fa-reload:before {
  content: "\e099"; }

.fa-settings:before, .fa-gear:before {
  content: "\e09a"; }

.fa-star:before {
  content: "\e09b"; }

.fa-symbol-female:before {
  content: "\e09c"; }

.fa-symbol-male:before {
  content: "\e09d"; }

.fa-target:before {
  content: "\e09e"; }

.fa-credit-card:before {
  content: "\e025"; }

.fa-paypal:before {
  content: "\e608"; }

.fa-social-tumblr:before {
  content: "\e00a"; }

.fa-social-twitter:before, .fa-twitter:before {
  content: "\e009"; }

.fa-social-facebook:before, .fa-facebook:before {
  content: "\e00b"; }

.fa-social-instagram:before {
  content: "\e609"; }

.fa-social-linkedin:before, .fa-linkedin:before {
  content: "\e60a"; }

.fa-social-pinterest:before {
  content: "\e60b"; }

.fa-social-github:before {
  content: "\e60c"; }

.fa-social-google:before, .fa-google-plus:before {
  content: "\e60d"; }

.fa-social-reddit:before {
  content: "\e60e"; }

.fa-social-skype:before {
  content: "\e60f"; }

.fa-social-dribbble:before {
  content: "\e00d"; }

.fa-social-behance:before {
  content: "\e610"; }

.fa-social-foursqare:before {
  content: "\e611"; }

.fa-social-soundcloud:before {
  content: "\e612"; }

.fa-social-spotify:before {
  content: "\e613"; }

.fa-social-stumbleupon:before {
  content: "\e614"; }

.fa-social-youtube:before {
  content: "\e008"; }

.fa-social-dropbox:before {
  content: "\e00c"; }

.fa-social-vkontakte:before {
  content: "\e618"; }

.fa-social-steam:before {
  content: "\e620"; }

.ui-chkbox-icon.fa-check:before {
  font-family: 'icomoon';
  content: "\e900";
  font-size: 1.1em; }

/*# sourceMappingURL=simple-line-replacement.css.map */
