@import '../../assets/variables';

md-toolbar {
  background: $uclblue;
  color: white;
}

.user-block {
  background: $uclblue2;
  padding: 12px;
  .avatar-holder {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    .no-user-image {
      background: $uclred;
      border-radius: 50%;
      color: white;
      width: 42px;
      height: 42px;
      margin: 2px;
      text-align: center;
      i {
        font-size: 28px;
      }
    }
  }
  .contact-container {
    font-size: 0.9rem;
    a {
      display: inline-block;
      color: $uclfooter;
      font-weight: 700;
    }
    span {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  .notifications {
    background-color: white;
    position: relative;
    overflow: visible;
    box-shadow:none !important;
    label{
      position: absolute;
      left: -3px;
      top: 25px;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      font-size: 10px;
      background: $uclred;
      color: white;
      border-radius: 2px;
      z-index: 4;
    }
    .icon-bell, .icon-envelope {
      font-size: 18px;
      line-height:24px;
    }
  }
}

.board-list {
  .add-board {
    position: absolute;
    right: 20px;
  }
}
