@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~simple-line-icons/css/simple-line-icons.css';

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.prism-icon {
  height: 40px;
  width: auto;
  display: block;
  img {
    height: 100%;
  }
}

.prism-logo {
  width: 130px;
  height: 33px;
  display: block;
  img {
    width: 100%;
  }
}
