<section class="section">
  <h2 class="title" *ngIf="!user">You're seconds away from creating your first board!</h2>
  <home-public *ngIf="!user"></home-public>
  <div *ngIf="user">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1>Departments</h1>
      <button pButton routerLink="/newBoard" class="ui-button-primary" icon="fa-plus" label="New Board"></button>
    </div>
    <div *ngFor="let department of departments" class="department-content">
      <div class="section-header" fxLayout="row" fxLayoutAlign="start center">
        <h2>{{department.name}}</h2>
        <button pButton routerLink="/{{department.handle}}" class="ui-button-success" icon="fa-edit" label="Edit"></button>
      </div>
      <div class="grid">
        <div *ngFor="let board of department.boards" class="grid__item small--one-whole medium-up--one-third">
          <md-card>
            <md-card-header fxLayout="row" fxLayoutAlign="space-between center">
              <md-card-avatar class="logo-holder-small default-logo"></md-card-avatar>
              <md-card-title>
                <h3>{{board.name}}</h3>
              </md-card-title>
              <md-card-subtitle>{{department.name}}</md-card-subtitle>
            </md-card-header>
            <md-card-content>

            </md-card-content>
            <md-card-actions fxLayout="row" fxLayoutAlign="space-between center">
              <button pButton routerLink="/{{board.department.handle}}/{{board.handle}}" class="ui-button-success" icon="fa-eye" label="View"></button>
              <button pButton routerLink="/{{board.department.handle}}/{{board.handle}}/settings" class="ui-button-success" icon="fa-gear"></button>

            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>

  </div>
</section>
