@import '../../assets/variables';
@import '../../assets/grid';

.title {
  margin-bottom:$section-spacing-small;
  margin-top: $section-spacing-small;
  text-align: center;
  font-weight:400;
  color: $uclblue;
}
.main-title {
  margin-top: 40px;
  text-align: center;
  img {
    width: 50%;
    margin: auto;
    @include media-query($medium-up) {
      width: 70%;
      margin: 0 0 0 40px;
    }
  }
}
.boards {
  display: inline-block;
  margin-right: 4px;
  margin-bottom:4px;
  a {
    font-size: 0.8rem;
  }
}
