<section>
  <form [formGroup]="boardForm" (ngSubmit)="submit()" autocomplete="off" novalidate>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Create a new Board</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="grid">
          <div class="grid__item small--one-whole medium-up--one-half">
            <p-autoComplete formControlName="departmentName" [suggestions]="departmentSuggestions"
                            (completeMethod)="searchDepartments($event)" placeholder="Department Name"
                            field="name" (onSelect)="departmentSelected($event)">
              <ng-template let-department pTemplate="item">
                <b-image [publicId]="department.documentLogo?.cloudinaryId"
                         height="150" width="200" crop="mfit"></b-image>
                {{department.name}}
              </ng-template>
            </p-autoComplete>
            <control-messages [control]="boardForm.get('departmentName')"></control-messages>
          </div>

          <div class="grid__item small--one-whole medium-up--one-half">
            <input pInputText formControlName="name" placeholder="Board Name">
            <control-messages [control]="boardForm.get('name')"></control-messages>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="grid grid--half-gutters">
          <div class="grid__item one-whole">
            <button pButton class="ui-button-warning" type="submit" [disabled]="boardForm.invalid"
                    label="Submit"></button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
