<section>
  <home-public *ngIf="!user"></home-public>
  <div *ngIf="user">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5%">
      <div>
        Departments:
        <ul>
          <li *ngFor="let department of departments">
            <a routerLink="/{{department.handle}}">{{department.name}}</a>
          </li>
        </ul>
      </div>
      <div>
        Boards:
        <ul>
          <li *ngFor="let board of boards">
            <a routerLink="/{{board.department.handle}}/{{board.handle}}">{{board.department.handle}}/{{board.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <button md-mini-fab routerLink="/newBoard" class="add-board">
      <md-icon>add</md-icon>
    </button>
  </div>
</section>
