<form [formGroup]="boardForm" (ngSubmit)="submit()" autocomplete="off" novalidate>
  <md-card>
    <md-card-header>
      <md-card-title>
        <h1>Create a new Board</h1>
      </md-card-title>
    </md-card-header>
    <md-card-content>

      <md-input-container class="md-block">
        <input mdInput formControlName="departmentName" placeholder="Department Name" required>
      </md-input-container>
      <control-messages [control]="boardForm.controls.departmentName"></control-messages>

      <md-input-container class="md-block">
        <input mdInput formControlName="name" placeholder="Board Name" required>
      </md-input-container>
      <control-messages [control]="boardForm.controls.name"></control-messages>

    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" type="submit" [disabled]="boardForm.invalid">Submit</button>
    </md-card-actions>
  </md-card>
</form>
