<div class="section">
  <form [formGroup]="accountForm" (ngSubmit)="submit()" autocomplete="off">
    <div class="grid">
      <div class="grid__item small--one-whole medium-up--three-eighths medium-up--push-two-sixths">
        <md-card>
          <md-card-header>
            <md-card-title>
              <h2>Account</h2>
            </md-card-title>
          </md-card-header>
          <md-card-content>
            <div class="grid">
              <div class="grid__item small--one-whole medium-up--one-half">
                <input pInputText formControlName="givenName" placeholder="First Name" required>
                <control-messages [control]="accountForm.controls.givenName"></control-messages>
              </div>
              <div class="grid__item small--one-whole medium-up--one-half">
                <input pInputText formControlName="surname" placeholder="Last Name" required>
                <control-messages [control]="accountForm.controls.surname"></control-messages>
              </div>
            </div>

            <div>
              <b-file-upload formControlName="documentImage" type="logo"></b-file-upload>
            </div>
          </md-card-content>
          <md-card-actions>
            <button pButton class="ui-button-warning" type="submit" label="Submit"></button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </form>
</div>
