<section>
  <div class="grid" fxLayout="row" fxLayoutAlign="center">
    <div class="grid__item small--one-whole medium-up--three-eighths">
      <form [formGroup]="accountForm" (ngSubmit)="submit()" autocomplete="off">
        <md-card>
          <md-card-header>
            <md-card-title>
              <h2>Account</h2>
            </md-card-title>
          </md-card-header>
          <md-card-content>
            <div *ngIf="accountFormError">
              <p-messages [value]="[{severity:'error', detail:accountFormError}]"></p-messages>
            </div>
            <div class="block-avatar">
              <div>
                <b-file-upload formControlName="documentImage" type="avatar" class="avatar"></b-file-upload>
              </div>
            </div>
            <div class="grid">
              <div class="grid__item small--one-whole medium-up--one-half input-holder">
                <input pInputText formControlName="givenName" placeholder="First Name">
                <control-messages [control]="accountForm.get('givenName')"></control-messages>
              </div>
              <div class="grid__item small--one-whole medium-up--one-half">
                <input pInputText formControlName="surname" placeholder="Last Name">
                <control-messages [control]="accountForm.get('surname')"></control-messages>
              </div>
            </div>
            <div class="grid">
              <div class="grid__item small--one-whole input-holder">
                <input pInputText formControlName="email" type="email" placeholder="Email">
                <control-messages [control]="accountForm.get('email')"></control-messages>
              </div>
            </div>
          </md-card-content>
          <md-card-actions>
            <button pButton class="ui-button-warning" label="Submit"></button>
          </md-card-actions>
        </md-card>
      </form>

      <md-card>
        <md-card-header>
          <md-card-title>
            <h2>Password</h2>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <div *ngIf="!changePasswordRequested">
            <button pButton (click)="requestPasswordChange()" class="ui-button-warning"
                    label="Change Password"></button>
          </div>
          <div *ngIf="changePasswordRequested">
            An email has been sent to you. Follow the instructions inside the email to reset your password.
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div class="grid__item small--one-whole medium-up--three-eighths">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h2>Notifications</h2>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <b-account-notifications [suppressions]="suppressions"></b-account-notifications>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>
