<mat-card>
  <mat-card-header fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    <div mat-card-avatar class="logo-holder-small"
         [ngClass]="{'default-logo': !board.documentLogo}">
      <b-image [publicId]="board.documentLogo?.cloudinaryId"
               gravity="north_west" height="150" width="200" crop="mfit"></b-image>
    </div>
    <mat-card-title>
      <h3>
        <a [routerLink]="['/', board.department.university.handle, board.department.handle, board.handle]">
          {{board.name}}
        </a>
        <!--<span class="ui-chips-token ui-corner-all visibility-chip">-->
        <!--{{'definitions.postVisibility.' + board.defaultPostVisibility | translate}}-->
        <!--</span>-->
      </h3>
    </mat-card-title>
    <mat-card-subtitle>
      <h6>
        {{board.department.name}}
      </h6>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="general-card-summary">
      {{board.summary}}
    </div>
    <div class="boxes-list" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="boxes-list__item posts">
        <div class="title"><i class="fa-book-open"></i> Posts</div>
        <span class="number" *ngIf="board.postCount">{{board.postCount}}</span>
        <span class="number" *ngIf="!board.postCount">0</span>
      </div>
      <div class="boxes-list__item authors">
        <div class="title"><i class="fa-people"></i> Authors</div>
        <span class="number" *ngIf="board.authorCount">{{board.authorCount}}</span>
        <span class="number" *ngIf="!board.authorCount">0</span>
      </div>
      <div class="boxes-list__item reports hidden">
        <div class="title"><i class="fa-pie-chart"></i> Reports</div>
        <span class="number">30</span>
      </div>
      <div class="boxes-list__item {{ board.state | lowercase }}" *ngIf="canEdit">
        <div class="title">
          <i class="fa-{{ board.state | lowercase }}"></i>
          {{'definitions.state.' + board.state + '.' + board.scope | translate}}
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a pButton [routerLink]="['/', board.department.university.handle, board.department.handle, board.handle]"
       class="ui-button-secondary " label="Go to board"></a>
  </mat-card-actions>
</mat-card>
