<div ngClass="{'error-enter' : error}">
  <md-progress-bar class="md-warn" *ngIf="loading" mode="indeterminate"></md-progress-bar>
  <h3 class="center">
    Authenticate
  </h3>
  <div *ngIf="error" role="alert">
    <div>
      <div class="info-badge red">
        <i class="icon-info"></i> {{error}}
      </div>
    </div>
  </div>

  <div *ngIf="view === 'LOGIN'">
    <div class="flex-container full-width social-login" fxLayoutAlign="space-around">
      <button md-raised-button class="linkedin" fxFlex="44%">
        <i class="icon-social-linkedin"></i> linkedin
      </button>
      <button md-raised-button class="facebook" fxFlex="44%">
        <i class="icon-social-facebook"></i> facebook
      </button>
    </div>
    <div class="divider-or"><span>OR</span></div>

    <form #form="ngForm" (ngSubmit)="login(form.value)" autocomplete="off">
      <md-input-container class="full-width">
        <input mdInput placeholder="Email" name="login" [(ngModel)]="loginFormModel.login" required type="email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput placeholder="Password" name="password" [(ngModel)]="loginFormModel.password" required
               type="password">
      </md-input-container>
      <button md-raised-button type="submit" color="warn" class="full-width">Submit</button>
      <div>
        <button md-button color="warn" (click)="setView('FORGOT')">Forgot password?</button>
        <button md-button color="warn" (click)="setView('REGISTER')">Register</button>
      </div>
    </form>
  </div>

  <div *ngIf="view === 'REGISTER'">
    <md-grid-list class="social-login" rowHeight="70px" cols="2">
      <md-grid-tile>
        <button md-raised-button class="linkedin">
          <i class="icon-social-linkedin"></i> linkedin
        </button>
      </md-grid-tile>
      <md-grid-tile>
        <button md-raised-button class="facebook">
          <i class="icon-social-facebook"></i> facebook
        </button>
      </md-grid-tile>
    </md-grid-list>
    <div class="divider-or"><span>OR</span></div>
    <form #form="ngForm" (ngSubmit)="register(form.value)" autocomplete="off">
      <div class="index-padding">
        <md-input-container class="full-width">
          <input mdInput placeholder="Email" name="email" [(ngModel)]="registrationFormModel.email" required
                 type="email">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="First Name" name="givenName" [(ngModel)]="registrationFormModel.givenName"
                 required>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Last Name" name="surname" [(ngModel)]="registrationFormModel.surname" required>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Password" name="password" [(ngModel)]="registrationFormModel.password" required
                 type="password">
        </md-input-container>
      </div>
      <div class="info-box" layout-padding>
        <div class="info-badge blue" layout="row" layout-aling="start center">
          <i class="icon-exclamation"></i>
          <span>By registering, you agree to NoticeBoard's User Agreement, Privacy Policy, and Cookie Policy.</span>
        </div>
      </div>
      <button md-raised-button color="warn" class="full-width" type="submit">Submit</button>
      <div>
        <button md-button color="warn" (click)="setView('LOGIN')">Already Registered?</button>
      </div>
    </form>
  </div>

  <div *ngIf="view === 'FORGOT'">
    <form *ngIf="!forgottenSent" #form="ngForm" (ngSubmit)="sendForgotten(form.value)" autocomplete="off">
      <div class="index-padding">
        <md-input-container>
          <input mdInput placeholder="Email" name="email" [(ngModel)]="forgotPasswordFormModel.email" required
                 type="email">
        </md-input-container>
      </div>
      <button md-raised-button type="submit" color="warn" class="full-width">Reset Password</button>
      <button md-button color="warn" (click)="setView('LOGIN')">Back</button>
    </form>
    <div *ngIf="forgottenSent">
      We have sent a password reset link to the email address of the account that you specified.
      Please check your email for this message, then click on the link.
    </div>
  </div>

</div>
