<div ngClass="{'error-enter' : error}" class="authenticate">
  <md-progress-bar class="md-warn" *ngIf="loading" mode="indeterminate"></md-progress-bar>
  <h2 class="center">
    Authenticate
  </h2>
  <div *ngIf="error">
    <p-messages [value]="[{severity:'error', detail:error}]"></p-messages>
  </div>

  <div *ngIf="view === 'LOGIN'" class="login-container">
    <div class="social-login" fxLayout="row" fxLayoutAlign="space-between center">
      <button pButton class="linkedin" fxFlex="44%" label="linkedin">
        <i class="icon-social-linkedin"></i>
      </button>
      <button pButton class="facebook" fxFlex="44%" label="facebook">
        <i class="icon-social-facebook"></i>
      </button>
    </div>
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="divider-or"><span>OR</span></div>
      </div>
      <div class="grid__item one-whole">
        <form #form="ngForm" (ngSubmit)="login(form.value)" autocomplete="off">
          <input pInputText placeholder="Email" name="login" [(ngModel)]="loginFormModel.login" required type="email">
          <input pInputText placeholder="Password" name="password" [(ngModel)]="loginFormModel.password" required
                 type="password">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <button pButton type="submit" class="ui-button-warning full-width" label="Submit"></button>
            <div>
              <button pButton type="button" class="ui-button-secondary" label="Forgot password?"
                      (click)="setView('FORGOT')"></button>
              <button pButton type="button" class="ui-button-secondary" label="Register"
                      (click)="setView('REGISTER')"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="view === 'REGISTER'" class="register-container">
    <div class="social-login" fxLayout="row" fxLayoutAlign="space-between center">
      <button pButton class="linkedin" fxFlex="44%" label="linkedin">
        <i class="icon-social-linkedin"></i>
      </button>
      <button pButton class="facebook" fxFlex="44%" label="facebook">
        <i class="icon-social-facebook"></i>
      </button>
    </div>
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="divider-or"><span>OR</span></div>
      </div>
      <div class="grid__item one-whole">
        <form #form="ngForm" (ngSubmit)="register(form.value)" autocomplete="off">
          <div class="grid">
            <div class="grid__item small--one-whole medium-up--one-half">
              <input pInputText placeholder="First Name" name="givenName" [(ngModel)]="registrationFormModel.givenName"
                     required>
            </div>
            <div class="grid__itpem small--one-whole medium-up--one-half">
              <input pInputText laceholder="Last Name" name="surname" [(ngModel)]="registrationFormModel.surname"
                     required>
            </div>
            <div class="grid__item one-whole">
              <input pInputText placeholder="Email" name="email" [(ngModel)]="registrationFormModel.email" required
                     type="email">
            </div>
            <div class="grid__item one-whole">
              <input pInputText placeholder="Password" name="password" [(ngModel)]="registrationFormModel.password"
                     required
                     type="password">
            </div>
          </div>
          <p-messages
            [value]="[{severity:'info', summary:'Email sent', detail:'By registering, you agree to NoticeBoard\'s User Agreement, Privacy Policy, and Cookie Policy.'}]"
            [closable]="false"></p-messages>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <button pButton class="ui-button-warning" type="submit" label="Submit"></button>
            <div>
              <button pButton class="ui-button-secondary" label="Already Registered?"
                      (click)="setView('LOGIN')"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="view === 'FORGOT'" class="forgot-container">
    <form *ngIf="!forgottenSent" #form="ngForm" (ngSubmit)="sendForgotten(form.value)" autocomplete="off">
      <div class="index-padding">
        <input pInputText placeholder="Email" name="email" [(ngModel)]="forgotPasswordFormModel.email" required
               type="email">
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button pButton type="submit" class="ui-button-warning" class="full-width" label="Reset Password"></button>
        <button pButton class="ui-button-secondary" label="Back"
                (click)="setView('LOGIN')"></button>
      </div>
    </form>
    <div *ngIf="forgottenSent">
      <p-messages
        [value]="[{severity:'info', summary:'Email sent', detail:'We have sent a password reset link to the email address of the account that you specified. Please check your email for this message, then click on the link.'}]"
        [closable]="false"></p-messages>
    </div>
  </div>

</div>
