@import '../../assets/variables';
@import '../../assets/info';

.authenticate {
  h2 {
    margin-bottom:15px;
  }
}
.error-enter {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.divider-or {
  margin: 15px 8px 20px;
  border-bottom: 1px solid #cccccc;
  position: relative;
  height: 16px;
  text-align: center;
  span {
    padding: 0 10px;
    margin-top: -8px;
    background: white;
    color: #cccccc;
    font-family: 'lato';
    font-size: 1.2rem;
  }
}
.register-container, .login-container, .forgot-container {
  width: 450px;
}
.social-login button {
  &.facebook {
    background-color: $facebook-color;
    color: white;
    &:not([disabled]):hover {
      background-color: #2A3F6C;
    }
  }
  &.twitter {
    background-color: $twitter-color;
    color: white;
    &:not([disabled]):hover {
      background-color: #0084b4;
    }
  }
  &.linkedin {
    background-color: $linkedin-color;
    color: white;
    &:not([disabled]):hover {
      background-color: #375988;
    }
  }
}
