<div ngClass="{'error-enter' : error}" class="authenticate">
  <mat-progress-bar class="md-warn" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h2 class="center">
    {{'authenticate.title.' + view | translate}}
  </h2>
  <div *ngIf="error">
    <p-messages [value]="[{severity:'error', detail:error}]"></p-messages>
  </div>

  <div *ngIf="view === 'LOGIN'" class="login-container">
    <div class="social-login" fxLayout="row" fxLayoutAlign="space-between center">
      <button pButton type="button" (click)="authenticate('linkedin')" class="linkedin" fxFlex="44%" label="linkedin">
        <i class="fa-social-linkedin"></i>
      </button>
      <button pButton type="button" (click)="authenticate('facebook')" class="facebook" fxFlex="44%" label="facebook">
        <i class="fa-social-facebook"></i>
      </button>
    </div>
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="divider-or"><span>OR</span></div>
      </div>
      <div class="grid__item one-whole">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="input-holder">
            <input pInputText type="email" placeholder="Email" formControlName="email">
            <control-messages [control]="loginForm.get('email')"></control-messages>
          </div>
          <div class="input-holder">
            <input pInputText type="password" placeholder="Password" formControlName="password">
            <control-messages [control]="loginForm.get('password')"></control-messages>
          </div>
          <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center"
               class="actions-holder">
            <button pButton class="ui-button-success" label="Submit" fxFlexOrder.gt-xs="1"></button>
            <div fxLayout.xs="row" fxLayoutAlign.xs="space-between center">
              <button pButton type="button" class="ui-button-secondary" label="Forgot password?"
                      (click)="setView('FORGOT')"></button>
              <button pButton type="button" class="ui-button-secondary" label="Register"
                      (click)="setView('REGISTER')"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="view === 'REGISTER'" class="register-container">
    <div class="social-login" fxLayout="row" fxLayoutAlign="space-between center">
      <button pButton type="button" (click)="authenticate('linkedin')" class="linkedin" fxFlex="44%" label="linkedin">
        <i class="fa-social-linkedin"></i>
      </button>

      <button pButton type="button" (click)="authenticate('facebook')" class="facebook" fxFlex="44%" label="facebook">
        <i class="fa-social-facebook"></i>
      </button>
    </div>
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="divider-or"><span>OR</span></div>
      </div>
      <div class="grid__item one-whole">
        <form [formGroup]="registrationForm" (ngSubmit)="register()" autocomplete="off">
          <div class="grid">
            <div class="grid__item small--one-whole medium-up--one-half input-holder">
              <input pInputText placeholder="First Name" formControlName="givenName">
              <control-messages [control]="registrationForm.get('givenName')"></control-messages>
            </div>
            <div class="grid__item small--one-whole medium-up--one-half input-holder">
              <input pInputText placeholder="Last Name" formControlName="surname">
              <control-messages [control]="registrationForm.get('surname')"></control-messages>
            </div>
            <div class="grid__item one-whole input-holder">
              <input pInputText type="email" placeholder="Email" formControlName="email">
              <control-messages [control]="registrationForm.get('email')"></control-messages>
            </div>
            <div class="grid__item one-whole input-holder">
              <input pInputText type="password" placeholder="Password" formControlName="password">
              <control-messages [control]="registrationForm.get('password')"></control-messages>
            </div>
          </div>
          <p-messages
            [value]="[{severity:'info', detail:'By registering, you agree to NoticeBoard\'s User Agreement, Privacy Policy, and Cookie Policy.'}]"
            [closable]="false"></p-messages>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="actions-holder">
            <button pButton class="ui-button-success" label="Submit" fxFlexOrder="1"></button>
            <button pButton type="button" class="ui-button-secondary" label="Already Registered?"
                    (click)="setView('LOGIN')"></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="view === 'FORGOT'" class="forgot-container">
    <form *ngIf="!forgottenSent" [formGroup]="forgotPasswordForm" (ngSubmit)="sendForgotten()" autocomplete="off">
      <div class="index-padding input-holder">
        <input pInputText type="email" placeholder="Email" formControlName="email">
        <control-messages [control]="forgotPasswordForm.get('email')"></control-messages>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" class="actions-holder">
        <button pButton class="ui-button-warning full-width" label="Reset Password" fxFlexOrder="1"></button>
        <button pButton type="button" class="ui-button-secondary" label="Back" (click)="setView('LOGIN')"></button>
      </div>
    </form>
    <div *ngIf="forgottenSent">
      <p-messages
        [value]="[{severity:'info', summary:'Email sent', detail:'We have sent a password reset link to the email address of the account that you specified. Please check your email for this message, then click on the link.'}]"
        [closable]="false"></p-messages>
    </div>
  </div>

</div>
