<div class="page-wrap step-page">
  <div layout="row" layout-align="center center" ng-cloak>
    <div flex="60" flex-xs="100" class="left-side-block" layout="column" layout-align="center stretch">
      <div class="header" layout-padding>
        <h1>Boards</h1>
        <ul>
          <li *ngFor="let board of boards">
            {{board.name}}
          </li>
        </ul>
        <button md-button routerLink="/new-board" class="md-primary md-raised big">
           New board
        </button>
      </div>
    </div>
  </div>
</div>
